{% load i18n %}
{% load djangoplicity_text_utils release_links djangoplicity_datetime %}{% with announcements=data.announcements potws=data.potws newon=data.newonhubble org="ESA/Hubble" embargo="yes" reason="you subscribed to ESO & ESA/Hubble Media Newsletter" email="hubble@eso.org" %}{% with signature_date=data.release.embargo_date signature1="ESA/Hubble Information Centre" %}{% include "newsletters/includes/text/announcement.txt" %}{% endwith %}
*************************************************************************

{% trans "We would also like to direct your attention to the following:" %}
{% if announcements %}
{% include "newsletters/includes/text/announcements.txt" %}{% endif %}{% if potws %}
{% include "newsletters/includes/text/potws.txt" %}{% endif %}{% if newon %}
{% include "newsletters/includes/text/newon.txt" with title="spacetelescope.org" %}
{% endif %}
{% include "newsletters/includes/text/footer.txt" %}
{% endwith %}
