{% if followus %}
<p style="font-size: 11px; text-align:center;">Follow us on:</p>
<p style="font-size: 11px; text-align:center;"><img src="{{base_url}}/static/socialicons.png" style="border:0px;" usemap="#sociallinks"></img></p>
<map id="sociallinks" name="sociallinks">
    <area shape="rect" alt="Facebook" coords="0,0,28,28" href="http://www.facebook.com/HubbleESA" />
    <area shape="rect" alt="Twitter" coords="36,0,64,28" href="http://twitter.com/hubble_space" />
    <area shape="rect" alt="YouTube" coords="73,0,101,28" href="http://www.youtube.com/user/HubbleESA" />
    <area shape="rect" alt="Vimeo" coords="110,0,138,28" href="http://www.vimeo.com/hubbleesa" />
</map>
{% endif %}