{% with image_url=base_url|add:"/images/download/"|add:main_image.newsfeature_image_token|add:"/newsfeature/"|add:main_image.id|add:".jpg" %}
<tr> 
<td colspan="2" class="headerContent" height="{{height}}px"  background="{{image_url}}" style="color: #202020;font-family: Helvetica, Arial;font-size: 24px;font-weight: bold;line-height: 100%;padding: 0;text-align: left;vertical-align: bottom;background-color:black;"> 
<!-- Outlook 2007 only -->
<!--[if gte mso 9]>
<img src="{{image_url}}" width="{{width}}" height="{{height}}" />
<![endif]-->
<div style="padding:20px;color:white;font-size:22px;">
	<div style="font-size:14px;">
	<span style="background:black;padding:2px;">
		<a style="color:white; font-size:14px; text-decoration: none; font-weight: bold;" href="{{link_url}}">{% if release_date %}{{release_date|date}}{% endif %}{% if release_date and pretitle %} &mdash; {% endif %}{% if pretitle %}{{ pretitle }}{% endif %}{% if embargo %} &mdash; <span style="color: #f4c819;">UNDER EMBARGO</span>{% endif %}</a>
	</span>
	</div>
	{% if title %}
	<span style="background:black;padding:2px;">
		<a style="color:white;font-size:22px; line-height: 29px; text-decoration: none; font-weight: bold;" href="{{link_url}}">{{title}}{% if subtitle %}&mdash; {{subtitle}}{% endif %}</a>
	</span>
	{% endif %}
</div> 
</td> 
</tr>
{% endwith %}
