{% if release %}{% load release_links djangoplicity_datetime %}
{% if embargo %}
<div style="padding: 10px; font-size: 18px; background-color: #f4c819; text-align: center; font-weight: bold;">
EMBARGOED* UNTIL {{release.release_date|time4lang:"en"|datetime:"DATETIME" }}
</div>
<div style="padding: 10px; font-size: 12px; background-color: #eeeeee;">
{% endif %}
<p>{{release.headline|linebreaksbr|description_links|release_ids|safe}}</p>

<p>The release, images and videos are available on:<br/>
<a href="{{base_url}}{{release.get_absolute_url}}">{{base_url}}{{release.get_absolute_url}}</a>{% if embargo %} (login: <strong>{{release.get_embargo_login.0}}</strong> password: <strong>{{release.get_embargo_login.1}}</strong>){% endif %}</p>


{% block translations %}
{%if release.get_translations_by.language %}<p>Translations are available in: {% for translation in release.get_translations_by.language %}<a href="{%if translation.release_url != 'http://'%}{{base_url}}{%endif%}{{translation.release_url}}">{{translation.language}}</a>{% if not forloop.last %}, {% endif %}{%endfor%}</p>
{% endif %}
{% if release.kids_title and release.kids_description %}<p>Space Scoop - the children's version of this release is available at: <a href="{{base_url}}{% url releases_detail_kids release %}">{{base_url}}{% url releases_detail_kids release %}</a></p>{% endif %}{% endblock %}

{% if signature %}
<p>
Kind regards,<br />
{{signature|safe}}<br />
{% if signature_date %}{{signature_date|date}}{% endif %}
</p>
{% endif %}

{% if embargo %}
</div>
{% endif %}{% endif %}