{% load i18n %}
{% spaceless %}
<div id="object_info_div" class="object-info">
{% for info in info_groups %}
{% if info.links or info.metadata %}
    {% if info.name %}
    <h4>
        {%if info.name == 'About the Video Conference Background' %}
        Virtual Meeting Backgrounds
        {% elif info.name == 'About the Image Comparison' %}
        About the Images
        {%else%}
        {% trans info.name %}
        {% endif %}
    </h4>
    {% endif %}
    <div>
    {% for link in info.links %}
        {% if link.url %}<a id="object_info_a" href="{{ link.url }}">{% trans link.title %}</a><br /> {% endif %}
    {% endfor %}
    {% if info.metadata %}
        <table class="table form-text text-dark">
        {% for metadata in info.metadata %}
            {% if metadata.field_value %}
                {% trans metadata.field_name as field_name %}
                <tr><th scope="row">{{ field_name|capfirst }}:</th><td colspan="2">{{ metadata.field_value }}</td></tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}
    </div>
{% endif %}
{% if not forloop.last %}{% if info.name or info.links or info.metadata %}<hr>{% endif %}{% endif %}
{% endfor %}
</div>
{% endspaceless %}
