{% if followus %}
    <p style="font-size: 11px; text-align:center;">Follow us on:</p>
    <div style="overflow:hidden;">
        <div style="width: 50%; float:left; text-align:center; color: white">
            <p>ESA/Hubble</p>
            <a href="https://www.facebook.com/HubbleESA">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/facebook.png" alt="Facebook Icon">
            </a>
            <a href="https://twitter.com/hubble_space">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/twitter-x.png" alt="Twitter Icon">
            </a>
            <a href="https://www.instagram.com/hubbleesa/">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/instagram.png" alt="Instagram Icon"></a>
            <a href="https://www.youtube.com/user/HubbleESA">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/youtube.png" alt="Youtube Icon">
            </a>
            <a href="https://www.linkedin.com/company/esahubble/">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/linkedin.png" alt="LinkedIn Icon"></a>
            <a href="https://www.flickr.com/photos/hubble_esa">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/flickr.png" alt="Flickr Icon">
            </a>
            <a href="https://giphy.com/esahubble">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/giphy.png" alt="Giphy Icon">
            </a>
        </div>

        <div style="width: 50%; float:right; text-align:center; color: white">
            <p>ESA/Webb</p>
            <a href="https://www.facebook.com/ESAWebb/">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/facebook.png" alt="Facebook Icon">
            </a>
            <a href="https://twitter.com/ESA_Webb">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/twitter-x.png" alt="Twitter Icon">
            </a>
            <a href="https://www.instagram.com/esawebb/">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/instagram.png" alt="Instagram Icon">
            </a>
            <a href="https://www.youtube.com/user/HubbleESA">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/youtube.png" alt="Youtube Icon">
            </a>
            <a href="https://www.linkedin.com/company/esahubble/">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/linkedin.png" alt="LinkedIn Icon">
            </a>
            <a href="https://www.flickr.com/photos/196062692@N03/albums">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/flickr.png" alt="Flickr Icon">
            </a>
            <a href="https://giphy.com/esawebb">
                <img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/giphy.png" alt="Giphy Icon"></a>
        </div>
    </div>
{% endif %}
