{% if followus %}
    <p style="font-size: 11px; text-align:center;">Follow us on:</p>
    <div style="overflow:hidden;">
        <div style="width: 50%; float:left; text-align:center; color: white">
            <p>ESA/Hubble</p>
            <a href="https://www.facebook.com/HubbleESA"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/facebook.png" alt="Esa/Hubble facebook"/></a>
            <a href="https://twitter.com/hubble_space"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/twitter.png" alt="Hubble_space twitter"/></a>
            <a href="https://www.instagram.com/hubbleesa/"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/instagram.png" alt="Esa/Hubble instagram"/></a>
            <a href="https://www.youtube.com/user/HubbleESA"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/youtube.png" alt="Esa/Hubble youtube"/></a>
            <a href="https://www.linkedin.com/company/esahubble/"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/linkedin.png" alt="Esa/Hubble linkedin"/></a>
            <a href="https://www.flickr.com/photos/hubble_esa"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/flickr.png" alt="Esa/Hubble flickr"/></a>
            <a href="https://giphy.com/esahubble"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/giphy.png" alt="Esa/Hubble giphy"/></a>
        </div>

        <div style="width: 50%; float:right; text-align:center; color: white">
            <p>ESA/Webb</p>
            <a href="https://www.facebook.com/ESAWebb/"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/facebook.png" alt="Esa/Webb facebook"/></a>
            <a href="https://twitter.com/ESA_Webb"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/twitter.png" alt="Esa/Webb twitter"/></a>
            <a href="https://www.instagram.com/esawebb/"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/instagram.png" alt="Esa/Webb instagram"/></a>
            <a href="https://www.youtube.com/user/HubbleESA"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/youtube.png" alt="Esa/Webb youtube"/></a>
            <a href="https://www.linkedin.com/company/esahubble/"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/linkedin.png" alt="Esa/Webb linkedin"/></a>
            <a href="https://www.flickr.com/photos/196062692@N03/albums"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/flickr.png" alt="Esa/Webb flickr"/></a>
            <a href="https://giphy.com/esawebb"><img style="width: 32px; height: 32px;" src="{{base_url}}/assets/icons/social-media/giphy.png" alt="Esa/Webb giphy"/></a>
        </div>
    </div>
{% endif %}
