<copyright>ESA/Hubble</copyright>

<itunes:new-feed-url>{% if not format %}https://feeds.feedburner.com/hubblecast/
    {% else %}{% if format == "hd" %}https://feeds.feedburner.com/hubblecast/{% else %}
        https://feeds.feedburner.com/hubblecast_{{ format }}/{% endif %}{% endif %}</itunes:new-feed-url>

<itunes:author>ESA/Hubble</itunes:author>
<itunes:summary>The latest news about astronomy, space, and the NASA/ESA Hubble Space Telescope{% if format != "sd" %}
    presented in{% if format == "fullhd" %} Full{% endif %} High Definition{% endif %}.
</itunes:summary>

<itunes:owner>
    <itunes:name>ESA/Hubble</itunes:name>
    <itunes:email>rshida@eso.org</itunes:email>
</itunes:owner>

<itunes:explicit>no</itunes:explicit>
<itunes:keywords>astronomy, space, science, Hubble, telescope, stronaut, cosmos, Hubblecast, NASA, Dr. J, stars,
    universe, sky{% if format != "sd" %}, {% if format == "fullhd" %}Full{% endif %}HD, High-Definition, high
        definition{% endif %}</itunes:keywords>

<itunes:image href="https://www.webb.org/static/design/{{ format|default:'hd'}}/hubblecast_01.png"/>

<category>Science</category>

<itunes:category text="Science &amp; Medicine">
    <itunes:category text="Natural Sciences"/>
</itunes:category>

<image>
    <title>Hubblecast {% if format == "hd" %}HD{% endif %}{% if format == "sd" %}SD{% endif %}
        {% if format == "fullhd" %}Full HD{% endif %}</title>
    <link>
    https://www.webb.org/videos/hubblecast/</link>
    <url>https://www.webb.org/static/design/hubblecast__04.png</url>
</image>

<amp:logo>https://www.webb.org/static/design//amp_logo.jpg</amp:logo>
<amp:banner>https://www.webb.org/static/design//amp_banner.jpg</amp:banner>
<amp:networkLogo>https://www.nasa.gov/276333main_logo.png</amp:networkLogo>
<amp:networkSmallLogo>https://www.nasa.gov/276334main_small_logo.png</amp:networkSmallLogo>
<amp:networkHalfBanner>https://www.nasa.gov/276332main_half-banner.png</amp:networkHalfBanner>
<amp:networkBackground>https://www.nasa.gov/276330main_background.png</amp:networkBackground>
<amp:networkWebsite>https://www.nasa.gov/multimedia/podcasting/</amp:networkWebsite>
<amp:background>https://www.webb.org/static/archives/images/screen/heic0822a.jpg</amp:background>

<atom:link href="{% if not format %}https://feeds.feedburner.com/hubblecast/
    {% else %}{% if format == "hd" %}https://feeds.feedburner.com/hubblecast/{% else %}https://feeds.feedburner.com/hubblecast_{{ format }}/{% endif %}{% endif %}"
           rel="self" type="application/rss+xml"/>
<atom:link rel="hub" href="https://pubsubhubbub.appspot.com/"/>
