[run]
source = .

omit = 
    */migrations/*
    */.local/*
    */htmlcov/*
    */build-cache/*
    */dummy_rails/*
    */test.py
    */tests.py
    */tests/*
    */static/*
    webb/wsgi.py
    webb/settings/prod.py
    webb/settings/staging.py
    webb/templates/pages/page_noborder.html
    webb/templates/pages/blank_page.html
    webb/templates/shop/checkout/coposweb/confirm.html
    webb/templates/shop/checkout/coposweb/pay_ship.html

plugins =
    django_coverage_plugin
