*.pyc
*.swp
*.swo
.idea/
temp/
local/

# coverage related files/folders
htmlcov/*
.coverage
.coverage.*
coverage.xml
*.cover

# keep htmlcov for reports
!htmlcov/.keep

# volume for development statics
docs/
