git+https://github.com/djangoplicity/djangoplicity-actions.git@develop
git+https://github.com/djangoplicity/djangoplicity-customsearch.git@develop
# git+https://github.com/djangoplicity/djangoplicity-newsletters.git@master
git+ssh://git@gitlab.com/altix-bitpointer/djangoplicity-git.git@develop
# git+ssh://git@gitlab.com/altix-bitpointer/satchmo-git.git@master
