{% load i18n %}
{% spaceless %}
{% if object.spatial_quality %}
	<div class="object-info">
	<h3>{% trans "Coordinates" %}</h3>
	<table>
	{% if object.get_ra_verbose %}<tr><td class="title">{% trans "Position (RA)" %}:</td><td>{{object.get_ra_verbose}}</td></tr>{% endif %}
	{% if object.get_dec_verbose %}<tr><td class="title">{% trans "Position (Dec)" %}:</td><td>{{object.get_dec_verbose|safe}}</td></tr>{% endif %}
	{% if object.spatial_quality == 'Full' %}
		<tr><td class="title">{% trans "Field of view" %}:</td><td>{{object.get_fov_verbose}}</td></tr>
		{% if object.spatial_rotation %}
			<tr><td class="title">{% trans "Orientation" %}:</td><td>{{object.get_spatial_rotation_verbose|safe}}</td></tr>
		{% endif %}
		</table>
		{% if object.spatial_rotation %}
			<script type="text/javascript">
			compass_src = "{{ MEDIA_URL }}djangoplicity/images/widgets/compassm.png"
			spatial_rotation = {{ object.spatial_rotation }};
			</script>
			<canvas id="compass_canvas" width="240" height="140"></canvas>
		{% endif %}
<!-- Disabled for now
		<h3 class="archivegrouptitle">{% trans "View with Aladin Live" %}</h3>
		<link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
		<div id="aladin-lite-div" style="width: 200px; height: 200px;"></div>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>

		<script type="text/javascript">
			var aladin_params = {
				survey: "P/DSS2/color",
				fov: 0.5,
			{% for key, val in object.get_aladinlite_params %}
				{{ key }}: "{{ value }}",
			{% endfor %}
				zoom:0.5,
				target: 'IC 2944',  !FIXME
				cooFrame: 'equatorial',
				showFrame: false,
				showReticle: false,
				showZoomControl: false,
				showLayersControl: false,
				showGotoControl: false
			};
			var aladin_jpg_url = 'http://www.eso.org/~mandre/eso1322a.jpg';
			//var aladin_jpg_url = 'http://{{ DJANGOPLICITY.SITE_DOMAIN }}{{ object.resource_screen.url }}';
		</script>
-->
		{% with wwtlink=object.get_wwt_url %}
		{% if wwtlink %}
			<div class="wwtlink">
				<div>{% trans "View in WorldWide Telescope" %}:</div>
				<div align="center"><a href="{{wwtlink}}" title="View in WorldWide Telescope"><img src="{{MEDIA_URL}}wwt.png" alt="View in WorldWide Telescope" /></a></div>
			</div>
		{% endif %}
		{% endwith %}
	{% else %}
		</table>
	{% endif %}
	</div>
{% endif %}
{% endspaceless %}
