{% extends "newsletters/base.html" %}

{% block preheader %}
    <!-- // Begin Module: Standard Preheader \ -->
    <table style="border-collapse: collapse; width: 100%;" aria-describedby="Newsletter Pre header">
        <tr>
          <th style="display: none;" scope="col">Newsletter Pre Header</th>
        </tr>
        <tr>
            <td style="vertical-align: top; padding: 0;">
                <div style="color: #505050; font-family: Helvetica, Arial, sans-serif;font-size: 10px;line-height: 100%; text-align: left;">
                    {% block text_only %}{% endblock %}
                </div>
            </td>
        </tr>
        {% include "newsletters/includes/preferences_top.html" %}
    </table>
    <!-- // End Module: Standard Preheader \ -->
{% endblock %}

