<div id="edit-info-block">
    <div id="page-edit-success" class="alert alert-success alert-dismissible" role="alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Page saved successfully
    </div>
    <div id="page-edit-failure" class="alert alert-danger alert-dismissible" role="alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Couldn't save page :( Please try again.
    </div>
</div>
