body {
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

#gallery .bg-image {
    position: relative;

}

/* #gallery img:hover {
    border: 5px solid #f7f7f7;
} */

#gallery span {
    display: none;

}

#gallery .bg-image:hover>span {
    display: inline;
    position: absolute;
    color: white;
    left: 0px;
    top: 77%;
    width: 100%;
    background-color: rgba(0, 50, 71, .6);
    height: 70px;
    display: flex;
    align-items: center;

}

#navbar li:hover {
    background-color: #003247;
}

.video-title {
    display: inline;
    position: absolute;
    color: white;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 50, 71, 1);
    height: 70px;
    display: flex;
    align-items: center;
}

.play-icon {
    display: inline;
    position: absolute;
    color: white;
    left: 0px;
    top: 45%;
    width: 100%;

    height: 70px;
    display: flex;
    align-items: center;


}
.youtube-body{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube-title {
    display: inline;
    position: absolute;
    color: white;
    left: 0px;
    top: 100%;
    width: 100%;
    background-color: rgba(0, 50, 71, 1);
    height: 70px;
    display: flex;
    align-items: center;
}