{% load i18n %}{% load media_video %}
{% include 'archives/embargo_notice.html' %}
<h1>{{ object.title }}</h1>
<div class="modal-body youtube-body">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ object.youtube_video_id }}"
    class="youtube-video" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
</div>
{% if object.headline %}<p>{{ object.headline }}</p>{% endif %}
<p>{{ object.description|safe }}</p>
<strong>{% trans "Credit" %}:</strong><div class="credit">{{ object.credit|safe }}</div>
{% include 'archives/extra_footer.html' %}
