{% extends "base.html" %}
{% load i18n %}

{% block extra_header %}{{block.super}}{% for furl,title in feed_urls %}<link href='{{furl}}' rel="alternate" type="application/rss+xml" title='{{title}}' />{%endfor%}{% if archive_title %}
    <meta property="og:title" content="{{ archive_title }}" />{% endif %}{% if archive_opengraph_image %}
    <meta property="og:image" content="{{ archive_opengraph_image }}" />{% endif %}{% if archive_description %}
    <meta property="og:description" content="{{ archive_description }}" />
    <meta name="description" content="{{ archive_description }}" />{% endif %}
{%endblock%}

{% block site_title %}{% if archive_title %}{{archive_title}}{% else %}{{ archive|capfirst }} Archive{%endif%} | {{block.super}}{% endblock %}

{% block archive_search %}
{% with archive_search_position="outside" %}
    {% include "archives/searchbox.html" %}
{% endwith %}
{% endblock %}

{% block body %}

<div class="row no-page">
    <div class="col-md-12">
{% block content %}
        <h1>{% if archive_title %}{% trans archive_title %}{% else %}{{ archive|capfirst }} {% trans "Archive" %}{% endif %}{% if listview_feed_url %} <a href="{{ listview_feed_url }}" class="listviewrsslink"><span class="fa fa-rss"></span></a>{% endif %}</h1>
    </div>

    {% if 'products' in request.path %}
    <div class="col-md-12 media-categories">
        <ul>
            <li><a href="/products/models3d/"{% if '/products/models3d/' in request.path %} class="selected"{% endif %}>{% trans "3D Models" %}</a></li>
            <li><a href="/products/calendars/"{% if '/products/calendars/' in request.path %} class="selected"{% endif %}>{% trans "Calendars" %}</a></li>
            <li><a href="/products/applications/"{% if '/products/applications/' in request.path %} class="selected"{% endif %}>{% trans "Apps" %}</a></li>
            <li><a href="/products/exhibitions/"{% if '/products/exhibitions/' in request.path %} class="selected"{% endif %}>{% trans "Exhibition Panels" %}</a></li>
            <li><a href="/products/stickers/"{% if '/products/stickers/' in request.path %} class="selected"{% endif %}>{% trans "Stickers" %}</a></li>
            <li><a href="/products/postcards/"{% if '/products/postcards/' in request.path %} class="selected"{% endif %}>{% trans "Postcards" %}</a></li>
            <li><a href="/products/print_posters/"{% if '/products/print_posters/' in request.path %} class="selected"{% endif %}>{% trans "Printed Posters" %}</a></li>
            <li><a href="/products/conf_posters/"{% if '/products/conf_posters/' in request.path %} class="selected"{% endif %}>{% trans "Conferences Posters" %}</a></li>
            <li><a href="/products/media/"{% if '/products/media/' in request.path %} class="selected"{% endif %}>{% trans "Media" %}</a></li>
            <li><a href="/products/presentations/"{% if '/products/presentations/' in request.path %} class="selected"{% endif %}>{% trans "Presentations" %}</a></li>
            <li><a href="/products/art/"{% if '/products/art/' in request.path %} class="selected"{% endif %}>{% trans "Space Art" %}</a></li>
            <li><a href="/products/video-conference-backgrounds/"{% if '/products/video-conference-backgrounds/' in request.path %} class="selected"{% endif %}>{% trans "Virtual meeting backgrounds" %}</a></li>
        </ul>
    </div>
    {% endif %}
</div>

<div class="row no-page">
    <div class="col-md-12">
        {% include index_template %}
    </div>
</div>

{% endblock %}
    </div>
</div>
{% endblock %}

{% include 'archives/extra_footer.html' %}
