{% extends "base.html" %}
{% load i18n %}

{% block extra_header %}{{block.super}}{% for furl,title in feed_urls %}<link href='{{furl}}' rel="alternate" type="application/rss+xml" title='{{title}}' />{%endfor%}{% if archive_title %}
    <meta property="og:title" content="{{ archive_title }}" />{% endif %}{% if archive_opengraph_image %}
    <meta property="og:image" content="{{ archive_opengraph_image }}" />{% endif %}{% if archive_description %}
    <meta property="og:description" content="{{ archive_description }}" />
    <meta name="description" content="{{ archive_description }}" />{% endif %}
{%endblock%}

{% block site_title %}
{% if archive_title %} 
{% if archive_title == 'Picture of the Week' %} 
Picture of the Month 
{% else %}
{% trans archive_title %} 
{% endif %}
{% else %}
{{ archive|capfirst }}
{% trans "Archive" %}{% endif %} | {{block.super}}
{% endblock %}

{% block archive_search %}
{% with archive_search_position="outside" %}
    {% include "archives/searchbox.html" %}
{% endwith %}
{% endblock %}

{% block body %}

<div class="row no-page mb-4">
    <div id="archive-list" class="col-md-12">
{% block content %}
        <h1>{% if archive_title %}
                {% if archive_title == 'Picture of the Week' %} Picture of the Month 
                {% elif archive_title == 'Video Conference Backgrounds' %} Virtual Meeting Backgrounds
                {% else %}
                {% trans archive_title %}
                {% endif%}
            {% else %}
            {{ archive|capfirst }} {% trans "Archive" %}{% endif %}{% if listview_feed_url %}
            <a href="{{ listview_feed_url }}" class="listviewrsslink"><span class="fa fa-rss"></span></a>
            {% endif %}
            </h1>
    </div>

    {% if 'products' in request.path %}
    <!-- <div class="row">
        <div class="form-text ms-1">
            <a href="/products/models3d/"
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "3D Models"%}</a>
            <a href="/products/calendars/" 
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "Calendars"%}</a>
            <a href="/products/applications/" 
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "Apps"%}</a>
            <a href="/products/exhibitions/" 
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "Exhibition Panels" %}</a>
            <a href="/products/stickers/" 
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "Stickers"%}</a>
            <a href="/products/postcards/" 
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "Postcards"%}</a>
            <a href="/products/print_posters/" 
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "Printed Posters" %}</a>
            <a href="/products/conf_posters/" 
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "Conferences Posters" %}</a>
            <a href="/products/media/" 
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "Media"%}</a>
            <a href="/products/presentations/" 
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "Presentations" %}</a>
            <a href="/products/art/"
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "Space Art"%}</a>
            <a href="/products/video-conference-backgrounds/"
                class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block" >{% trans "Virtual meeting backgrounds" %}</a></li>
        
        </div>
    </div> -->
    
    {% endif %}
</div>

<div class="row no-page">
    <div class="col-md-12">
        {% include index_template %}
    </div>
</div>

{% endblock %}
    </div>
</div>
{% endblock %}

{% include 'archives/extra_footer.html' %}
