{% load i18n %}
<link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css"/>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- Do not add margins to the aladin-lite-div or they would appear in the fullsize as well -->
<div style="margin-top: 30px;">
    <div id="aladin-lite-div" style="width: 100%;height: 300px;"></div>

    <div>
        <input id="DSS" type="radio" name="survey" value="P/DSS2/color" checked>
        <label for="DSS" style="margin-left: 5px;">{% trans 'Optical (DSS2)' %}</label><br>
        <input id="2MASS" type="radio" name="survey" value="P/2MASS/color">
        <label for="2MASS" style="margin-left: 5px;">{% trans 'Infrared (2MASS)' %}</label>
    </div>

    <div>
        <label for="slider">{% trans 'Crossfade image:' %}</label>
        <input id="slider" type="range" value="1" min="0" max="1" step="0.05" style="width:120px;">
    </div>
</div>

<script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
<script type="text/javascript">
function onVrViewLoad() {
    var aladin = A.aladin('#aladin-lite-div', {target: "0 0",fov: 100, cooFrame: 'ICRS'});
    aladin.setBaseImageLayer("P/DSS2/color");
    var callback = function(ra, dec, fov) {
        // we must return true, so that the default action (set view to center of image) is performed
        return true;
    };
    aladin.displayJPG('{{ SITE_DOMAIN }}{{ object.resource_screen.url }}', null, callback);

    $( "#slider" ).on('input', function() {
        aladin.getOverlayImageLayer().setAlpha($(this).val());
    });
    $('input[name=survey]').change(function() {
        aladin.setImageSurvey($(this).val());
    });
}

window.addEventListener('load', onVrViewLoad);
</script>
