{% load avm i18n %}
{% spaceless %}
{% if imageexposures %}
<style>
.band_Purple { color: purple; }
.band_Blue { color: blue; }
.band_Cyan { color: cyan; }
.band_Green { color: green; }
.band_Yellow { color: yellow; }
.band_Orange { color: orange; }
.band_Red { color: red; }
.band_Magenta { color: magenta; }
.band_Grayscale { color: gray; }
.band_Pseudocolor { color: gray; }
.band_instrument { color: #666666; }
</style>

    <div id="object_observation_div" class="object-info">
        <h3>{% trans "Colours & filters" %}</h3>
        <table class="table table-striped table-condensed">
        <tr>
            <th>{% trans "Band" %}</th>
            {% if has_wavelength %}<th>{% trans "Wavelength" %}</th>{% endif %}
            <th>{% trans "Telescope" %}</th>
        </tr>
        {% for e in imageexposures %}{% if e.spectral_band or e.facility or e.instrument or e.spectral_central_wavelength %}
        <tr>
            <td><span{% if e.spectral_color_assignment %} class="band_{{ e.spectral_color_assignment }}"{% endif %}>{% if e.spectral_band %}{% trans e.spectral_band %}{% endif %}</span>{% if e.spectral_bandpass %}<br /><span class="band_instrument">{{ e.spectral_bandpass }}</span>{% endif%}</td>
            {% if has_wavelength %}<td>{{ e.spectral_central_wavelength|wavelength }}</td>{% endif %}
            <td>
                {% if e.facility %}
                    {% if e.facility.wiki_link %}
                        <a href="{{ e.facility.wiki_link }}">{{ e.facility }}</a>
                    {% else %}
                        {{ e.facility }}
                    {% endif %}
                    {% if e.instrument %}
                        <br/>
                        {% if e.instrument.wiki_link %}
                            <a href="{{ e.instrument.wiki_link }}">{{ e.instrument }}</a>
                        {% else %}
                            <span class="band_instrument">{{ e.instrument }}</span>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endif %}{% endfor %}
        </table>
        {% if object.spectral_notes %}<p><strong>{% trans "Notes" %}:</strong> {{ object.spectral_notes }}</p>{% endif %}
    </div>

{% endif %}
{% endspaceless %}
