{% extends "admin/base_site_base.html" %}

{% load app_plugins satchmo_util %}
{% load i18n %}

{% block extrahead_djangoplicity %}
{% endblock %}

{% block extrastyle_djangoplicity %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/base.css" />
<style type="text/css">
#content-related { float:right; width:29em; position:relative; margin-right: -30em;}
#content-related .module h2 { cursor: default; }
#content-related .module h2 .status { font-style: italic; }
div.tabular .vCurrencyField { width: 70%; }
</style>
{% endblock %}


{% block extra_admin_links %}| <a href="{% url adminshop_site:index %}">Shop admin</a>{% endblock %}