{% extends "core.html" %}

{% load djangoplicity_datetime %}
{% load media_video %}
{% load pages %}
{% load i18n %}
{% load static %}

{% block extra_header %}
    <meta property="og:title" content="ESA/Hubble Space Telescope" />
    <meta property="og:description" content="The ESA page for the Hubble Space Telescope, the space-based observatory that has revolutionised modern astronomy." />
    <meta property="og:image" content="http://www.spacetelescope.org/static/archives/images/screen/hubble_earth_sp01.jpg" />
    <meta property="og:image:secure_url" content="https://www.spacetelescope.org/static/archives/images/screen/hubble_earth_sp01.jpg" />

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="n9nP9JNb"></script>
    <script async src="https://platform.twitter.com/widgets.js" max-w charset="utf-8"></script>
{% endblock %}

{% block content_area %}
<h1 class="mx-auto pt-5">Coming soon</h1>

{% endblock content_area %}


{% block addthis %}
<!-- no addthis on frontpage -->
{% endblock %}
