
.square {
	display:block;
	min-width:20px;
	height:20px;
	float:left;
	margin:5px;
	background-color:white;

	}
.bord {
	border: 1px solid #999;
}

.entry {
	clear:both;
}

#sq1 {
	background-color:#ffffff;
}
#sq2 {
	background-color:#00aeef;
}
#sq3 {
	background-color:#60cce2;
}
#sq4 {
	background-color:#b3b4b4;
}
#sq5 {
	background-color:#234357;
}
#sq6 {
	background-color:none;
}
#sq7 {
	background-color:#e0eef5;
}
#sq8 {
	background-color:#cddfe9;
}
#sq9 {
	background-color:#000922;
}
#sq10 {
	background-color:#1596c1;
}
#sq11 {
	background-color:none;
}
#sq12 {
	background-color:#515151;
}
#sq13 {
	background-color:#6b6b6b;
}
#sq14 {
	background-color:#42aed5;
}

.darkbg {
	display:block;
	background-color:#000922;
	width:400px;
	height:100px;
}


/* design elements */


	



