// These rules are placehoders extended in other selectors:

$medium-dark: #292929;
$default-section-height: 307px;

.frontpage-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;

	a {
		text-decoration: none;
		color: $hubble-blue;

		&:hover {
			color: $hubble-blue;
			text-decoration: underline;
		}
	}
}

.section-header {
	padding: 10px 20px;

	.section-title {
		@extend .frontpage-title;

    &.blue-title {
      color: $hubble-blue;
    }
	}

	.section-navigation {
		color: $hubble-blue;

		a {
			margin-right: 5px;
		}
	}
}

.frontpage-slide-prev, .frontpage-slide-next {
	border: none;
	background-color: $hubble-blue;
	border-radius: 50%;
	color: #fff;
	font-size: 15px;
	width: 25px;
	height: 25px;
	margin-left: 5px;

	&:focus {
		outline: none;
	}

	&.slick-disabled {
		color: #999;
		background: none;
	}

	span {
		font-size: 20px;
	}
}

.frontpage-slide-prev {
	border: none;

	span {
		margin-left: -2px;
	}
}

.frontpage-slide-next {
	border: none;

	span {
		margin-right: -2px;
	}
}

.section-navigation {
	float: right;
}

.frontpage-description {
	&:hover {
		background-color: $hubble-blue;
		color: #fff;

		.date {
			color: #fff;
		}
	}

	.date {
		padding: 10px 20px 0;
		color: $hubble-blue;
	}

	.title {
		padding: 0 20px 10px;
		line-height: 16px;
		/* white-space: nowrap; */
		overflow: hidden;
	}
}

.frontpage-description-hover a {
	background-color: $hubble-blue;
	color: #fff;

	.date {
		color: #fff;
	}
}

.frontpage-description-title {
	padding: 8px;
	padding-top: 0;
	line-height: 16px;
}

.frontpage-description-date {
	padding: 8px;
	padding-bottom: 0;

	a {
		color: $hubble-blue;
	}
}


#pr-carousel-wrapper {
	position: relative;
	background-color: #000;

	&:hover {
		.slide-prev, .slide-next {
			@extend .slide-prev-next-hover;
		}
	}

	#pr-carousel {
		color: #fff;
		font-weight: 600;

		&.slick-initialized .slide {
			visibility: visible;
		}

		.slide {
			visibility: hidden; // slides are made visible by JS
			position: relative;

			@media (min-width: $mobile-breakpoint) {
				height: $pr-carousel-height;
			}

			> a {
				display: block;
				height: 100%;
			}

			img {
				position: relative;
				width: 100%;
				opacity: 1;

				@media (min-width: $mobile-breakpoint) {
					top: 50%;
					@include transform(translateY(-50%));

					@include transition(opacity 0.2s linear);

					// Workaround for bug with Chrome where the image jumps by
					// a few pixels onhover:
					-webkit-backface-visibility: hidden;

					&.hover {
						opacity: 0.5 !important;  // Important to compensate for the slick loadin opacity
						filter: alpha(opacity=50) !important;
						@include transition(opacity 0.2s linear);
					}
				}
			}

			a {
				color: #fff;
			}

			.pr-content {
				margin-left: auto;
				margin-right: auto;
				height: 100%;
				padding: $grid-gutter-width / 2;

				@media (min-width: $mobile-breakpoint) {
					width: $body-width;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					padding: 0;
				}

				.pr-description {
					padding-bottom: 10px;
					font-size: 14px;
					text-shadow: 1px 1px 3px #000;
					padding-top: 50px; // This is just to make the hover target larger

					&:hover {
						text-shadow: none;

						.pr-extra {
							max-height: 200px;
							@include transition(max-height 0.2s);
						}
					}

					@media (min-width: $mobile-breakpoint) {
						width: $body-width;
						position: absolute;
						bottom: 0;
					}

					.pr-extra {
						max-height: 0;
						@include transition(max-height 0.2s);
						overflow: hidden;

						.pr-headline {
							margin-bottom: 20px;
						}
					}

					.pr-type {
						text-transform: uppercase;
						font-size: 14px;
					}

					.pr-title {
						font-size: 30px;

						@media (max-width: $mobile-breakpoint) {
							line-height: 1.2;
						}

						a:hover {
							text-decoration: none;
							color: $hubble-blue;
						}
					}
				}
			}
		}

		button {
			@extend .slide-button;
		}

		.slide-prev {
			@extend .slide-prev;
		}

		.slide-next {
			@extend .slide-next;
		}
	}
}


.announcements {
	margin-top: $frontpage-row-top-margin;

	.section-header {
		padding: 0;
		padding-bottom: 10px;
	}
}

#ann-carousel-wrapper {
	overflow: hidden;

	#ann-carousel {
		margin: 0 0 - $grid-gutter-width / 2;

		&.slick-initialized .slide {
			visibility: visible;
		}

		.slide {
			visibility: hidden; // slides are made visible by JS
			margin: 0 $grid-gutter-width / 2;
			font-size: 13px;
			border: 1px solid $border-grey;

			&:hover {
				border: 1px solid $hubble-blue;
			}

			img {
				display: block;
				width: 100%;
				height: auto;
				opacity: 1;
			}

			a {
				color: $text-color;
				text-decoration: none;
			}

			.ann-description {
				padding: 20px;

				.title {
					font-weight: bold;
					font-size: 16px;
				}

				.date {
					color: #999;
					margin-top: 5px;
				}
			}

			.readmore {
				padding: 10px;
				color: $hubble-blue;
				text-align: right;

				&::before {
					content: '[Read More]';
				}
			}
		}
	}
}


.frontpage-section {
	.section-title {
		@extend .frontpage-title;
	}

	& > div {
		margin-top: $frontpage-row-top-margin;
	}

	#hubblecast-carousel-wrapper {
		border: 1px solid $border-grey;

		#hubblecast-carousel {
			&.slick-initialized .slide {
				visibility: visible;
			}

			.slide-prev {
				@extend .slide-prev;
			}

			.slide-next {
				@extend .slide-next;
			}

			a {
				color: $text-color;
				text-decoration: none;
			}

			&:hover {
				.slide-prev, .slide-next {
					@extend .slide-prev-next-hover;
				}
			}

			.hubblecast-description {
				@extend .frontpage-description;
				white-space: nowrap;
			}

			.hubblecast-description-jwplayer {
				// The jwplayer somehow adds a few pixels, so we move the description
				// up by a few pixles
				@media (min-width: $screen-md) {
					margin-top: -4px;
				}
			}
		}
	}

	#potw-carousel-wrapper {
		border: 1px solid $border-grey;

		#potw-carousel {
			&:hover {
				.potw-description {
					@extend .frontpage-description-hover;
				}
			}

			&.slick-initialized .slide {
				visibility: visible;
			}

			button {
				@extend .slide-button;
			}

			.slide {
				visibility: hidden; // slides are made visible by JS

				a {
					color: $text-color;
					text-decoration: none;
				}
			}

			.slide-prev {
				@extend .slide-prev;
			}

			.slide-next {
				@extend .slide-next;
			}

			&:hover {
				.slide-prev, .slide-next {
					@extend .slide-prev-next-hover;
				}
			}

			img {
				width: 100%;
			}

			.potw-description {
				@extend .frontpage-description;
			}
		}
	}

	#highlight-carousel-wrapper {
		border: 1px solid $border-grey;

		.section-title {
			color: $hubble-blue;
		}

		#highlight-carousel {
			&.slick-initialized .slide {
				visibility: visible;
			}

			.slide {
				visibility: hidden; // slides are made visible by JS
			}

			button {
				@extend .slide-button;
			}

			.slide-prev {
				@extend .slide-prev;
			}

			.slide-next {
				@extend .slide-next;
			}

			&:hover {
				.slide-prev, .slide-next {
					@extend .slide-prev-next-hover;
				}
			}

			img {
				width: 100%;
			}
		}
	}

	.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
		background-color: $medium-dark;

		@media (min-width: $screen-md-min) {
			height: $default-section-height;
		}

		.title {
			padding: 20px 0 10px;
			letter-spacing: 1.4px;
			color: #fff;
			font-size: 20px;
			text-align: center;
		}

		.icons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
			padding: 10px;

      a {
        margin: 2px;

        div {
          display: inline-block;

          &:hover {
            background-color: $hubble-blue;
            opacity: 0.3;
            filter: alpha(opacity=30);
          }
        }
      }
		}
	}

	#hubbleshop-link {
		background-color: #fff;
		border: 1px solid $border-grey;

		@media (min-width: $screen-md-min) {
			height: $default-section-height;
			overflow: hidden;
		}

		img {
			margin: 30px auto;
		}
	}

	.sections {
		margin-top: $frontpage-row-top-margin;
		background-color: #fff;
		border: 1px solid $border-color;
		padding:  $grid-gutter-width;
		padding-top: 0;

		img {
			max-width: 100%;
		}
	}
}


.top100 {
	margin-top: $frontpage-row-top-margin;

	a {
		color: $text-color;
	}

	.section-title {
		@extend .frontpage-title;
	}

	#top100-frontpage-carousel-wrapper {
		border: 1px solid $border-grey;

		#top100-frontpage-carousel {
			&:hover {
				.top100-description {
					@extend .frontpage-description-hover;
				}
			}

			&.slick-initialized .slide {
				visibility: visible;
			}

			.slide {
				visibility: hidden; // slides are made visible by JS

				a {
					color: $text-color;
					text-decoration: none;
				}
			}

			button {
				@extend .slide-button;
			}

			.slide-prev {
				@extend .slide-prev;
			}

			.slide-next {
				@extend .slide-next;
			}

			&:hover {
				.slide-prev, .slide-next {
					@extend .slide-prev-next-hover;
				}
			}

			.img-wrapper {
				/* max-height: $top100-frontpage-carousel-height; */
				overflow: hidden;
			}

			.top100-description {
				@extend .frontpage-description;

				.title {
					padding: 8px;
				}
			}
		}
	}
}

.slogan {
	margin-top: $frontpage-row-top-margin;
	border: 1px solid $border-color;
	background-color: #fff;

	&:hover {
		.slogan-description {
			background-color: $hubble-blue;
			color: #fff;
		}
	}

	a {
		text-decoration: none;
	}

	.img-wrapper {
		position: relative;

		img {
			width: 100%;
		}

		.title {
			position: absolute;
			bottom: 0;
			left: 10px;
			font-size: 30px;
			letter-spacing: 1.4px;
			color: #fff;
		}
	}

	.slogan-description {
		padding: 10px;
		color: $text-color;
		min-height: 56px
	}
}

.subscribe-to-hubble {
  .border {
    border: 1px solid $border-grey;
  }

  .row {
    margin-top: 0;

    [class^="col-"]:not(:last-child) {
      padding-right: 1rem;

      @media (max-width: $screen-md) {
        margin-bottom: 1rem;
      }

    }

    #newsletters-link, #subscribe-link {
      text-align: center;
      line-height: $default-section-height;
      background-color: $medium-dark;

      img {
        display: inline-block;
        height: auto;
        max-width: 100%;
        padding: 2rem 0;
      }
    }
  }
}

.middle-section {
  [id$="-carousel-wrapper"] {
    border: 1px solid $border-grey;
    margin-top: 1rem;
  }

  #newsletter-carousel-wrapper {

    #newsletter-carousel {
			&.slick-initialized .slide {
				visibility: visible;
			}

			.slide-prev {
				@extend .slide-prev;
			}

			.slide-next {
				@extend .slide-next;
			}

			a {
				color: $text-color;
				text-decoration: none;
			}

			&:hover {
				.slide-prev, .slide-next {
					@extend .slide-prev-next-hover;
				}
			}

      .img-wrapper {
        /* max-height: $top100-frontpage-carousel-height; */
        overflow: hidden;
      }

			.newsletter-description {
				@extend .frontpage-description;
				white-space: nowrap;

        .title {
          padding: 8px;
        }

			}

		}
  }

  $section-header-height: 43px;
  $social-feed-width: 304px;
  $social-feed-height: 610px;

  .social-feeds {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
    align-content: space-between;

    .facebook-feeds, .twitter-feeds, .instagram-feeds {
      width: $social-feed-width;
      height: $social-feed-height + $section-header-height + 5px;
      text-align: center;
      border: 1px solid $border-grey;
      overflow-y: hidden;
      margin-bottom: 1rem;

      .section-header {
        text-align: left;
        border-bottom: 1px solid $border-grey;
      }
    }
  }
}
