// Custom variables for general use
$content-width: 1160px;
$body-width: 960px;
$frontpage-row-top-margin: 20px;
$top-menu-border-width: 2px;

$mobile-breakpoint: 1025px;
$minilogo-breakpoint: 1190px;


// Colors
$hubble-very-dark-grey: #101010;	
$hubble-blue: #3f9efa;
$hubble-dark-blue: #003247;
$hubble-yellow: #f1b401;
$border-color: #e0e0e0;
$hubble-menu-bg: #f2f2f2;
$hubble-menu-separator-color: #e7e7e7;
$hubble-menu-medium-grey: #383838;
$dark-box-border: #646464;
$border-grey: #dcdcdc;

$main-menu-height: 40px;
$main-menu-font-size: 12px;

$pr-carousel-height: 600px;
$top100-frontpage-carousel-height: $pr-carousel-height;


// Custom bootstrap variables
// Any variables defined below before the @import will override 
// Bootstrap's default
$font-size-base: 13px;
$font-family-sans-serif:  'Open Sans', sans-serif !default;


$grid-gutter-width: 20px;
$icon-font-path: "../fonts/bootstrap/";
//$body-bg: #f7f7f7;
$navbar-height: 60px;
$nav-link-padding: 10px 12px !default;

// We want the container to take full width below $screen-sm-min (992px)
$container-sm: none;

// Disable border radius
$input-border-radius: 0;
$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;

// Core variables and mixins
@import "bootstrap/assets/stylesheets/bootstrap/variables";
@import "bootstrap/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/assets/stylesheets/bootstrap/normalize";
@import "bootstrap/assets/stylesheets/bootstrap/print";
@import "bootstrap/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "bootstrap/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap/assets/stylesheets/bootstrap/type";
@import "bootstrap/assets/stylesheets/bootstrap/code";
@import "bootstrap/assets/stylesheets/bootstrap/grid";
@import "bootstrap/assets/stylesheets/bootstrap/tables";
@import "bootstrap/assets/stylesheets/bootstrap/forms";
@import "bootstrap/assets/stylesheets/bootstrap/buttons";

// Components
@import "bootstrap/assets/stylesheets/bootstrap/component-animations";
@import "bootstrap/assets/stylesheets/bootstrap/dropdowns";
@import "bootstrap/assets/stylesheets/bootstrap/button-groups";
@import "bootstrap/assets/stylesheets/bootstrap/input-groups";
@import "bootstrap/assets/stylesheets/bootstrap/navs";
@import "bootstrap/assets/stylesheets/bootstrap/navbar";
@import "bootstrap/assets/stylesheets/bootstrap/breadcrumbs";
// @import "bootstrap/assets/stylesheets/bootstrap/pagination";
@import "bootstrap/assets/stylesheets/bootstrap/pager";
@import "bootstrap/assets/stylesheets/bootstrap/labels";
@import "bootstrap/assets/stylesheets/bootstrap/badges";
@import "bootstrap/assets/stylesheets/bootstrap/jumbotron";
@import "bootstrap/assets/stylesheets/bootstrap/thumbnails";
@import "bootstrap/assets/stylesheets/bootstrap/alerts";
@import "bootstrap/assets/stylesheets/bootstrap/progress-bars";
@import "bootstrap/assets/stylesheets/bootstrap/media";
@import "bootstrap/assets/stylesheets/bootstrap/list-group";
@import "bootstrap/assets/stylesheets/bootstrap/panels";
@import "bootstrap/assets/stylesheets/bootstrap/responsive-embed";
@import "bootstrap/assets/stylesheets/bootstrap/wells";
@import "bootstrap/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/assets/stylesheets/bootstrap/modals";
@import "bootstrap/assets/stylesheets/bootstrap/tooltip";
@import "bootstrap/assets/stylesheets/bootstrap/popovers";
@import "bootstrap/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "bootstrap/assets/stylesheets/bootstrap/utilities";
@import "bootstrap/assets/stylesheets/bootstrap/responsive-utilities";

// Bourbon
@import "bourbon/bourbon";

@import "base";
@import "menu";
@import "frontpage";
@import "archive";
