{% load menus %}
{% load i18n %}

<ul id="navbar" class="navbar-nav me-auto  mb-0">
    {% for entry in submenu %}
    <li class="nav-item me-3 py-2 {% if entry.children|length %} dropdown {% endif %}">
        {% if entry.children|length %}
        <a class="nav-link dropdown-toggle text-white" 
            role="button" data-bs-toggle="dropdown" aria-expanded="false"
            href="{{ entry.link|default:"#" }}"{% if entry.on_click %} target="_blank"{% endif %}
            style="font-size: 1rem !important;">{% trans entry.title|safe %}</a>
        
        <ul id="submenu-aim-{{ entry.id }}" aria-labelledby="navbarDropdown"
                class="dropdown-menu-start dropdown-menu">
                
            {% render_submenu entry.children main_children %}
        </ul>
      
        {% else %}
        <a class="nav-link text-white" href="{{ entry.link|default:"#" }}"{% if entry.on_click %} target="_blank"{% endif %}
        style="font-size: 1rem !important;">{% trans entry.title|safe %}</a>
        
        {% endif %}
        </li>
    {% endfor %}
    </ul>