{% extends "base_onecolumn.html" %}

{% block extra_header %}{{block.super}}{% for furl,title in feed_urls %}<link href='{{furl}}' rel="alternate" type="application/rss+xml" title='{{title}}' />{%endfor%}{%endblock%}

{% block site_title %}{% if archive_title %}{{archive_title}}{% else %}{{ archive|capfirst }} Archive{%endif%} | {{block.super}}{% endblock %}

{% load menus %}
{# block breadcrumb %}{{ block.super}}{% endblock #}

{% block content %}
<div class='archive_list_heading'>
<div class='archive_list_title'>
<h1>{% if archive_title %}{{ archive_title }}{% else %}{{ archive|capfirst }} Archive{% endif %}{% if listview_feed_url %} <a href="{{ listview_feed_url }}"><img src="{{MEDIA_URL}}images/rssicon.png" /></a>{% endif %}</h1>
</div>
<div class='archive_list_search'>{% if searchable %}

<form action="{{ search_url }}" method="GET">{% csrf_token %}
<input id="id_archivesearch" type="text" value="{%if search_specific %}Search {{search_specific|capfirst}}...{%else%}{{search_str|default:"Search..."}}{%endif%}" name="search" class="archivesearch" onblur="searchbox_blur(this,'{%if search_specific %}Search {{search_specific|capfirst}}...{%else%}{{search_str|default:"Search..."}}{%endif%}');" onfocus="searchbox_focus(this,'{%if search_specific %}Search {{search_specific|capfirst}}...{%else%}{{search_str|default:"Search..."}}{%endif%}');" />
<input class="archivesearch_submit" type="submit" value="Go" />
</form>
{% endif %}
</div>
<div class='clear'></div>
{% load pages %}{% embed_page spacetelescope.image_archive_top %}
{% if crosslinks %}
<div class="seealso">{{crosslinks_string|safe}}</div>
<div class='clear'></div>
{%endif%}
</div>
<div style="padding: 10px; margin: 10px; background-color: #eee; border: 1px solid #aaa;">
	This page is no longer updated. Hubble inspired artworks, along with other creative content created by the public, are now hosted on the dedicated Flickr page <a href="https://www.flickr.com/groups/yourhubblepictures/">Your Hubble Pictures</a>.
</div>
{% include index_template %}
{% endblock %}
{% include 'archives/extra_footer.html' %}
