{% extends "base_twocolumn.html" %}
{% load media_video %}

{% block content %}

{% if object_list and page_obj.start_index == 1  %}
	<h1>Hubblecast</h1>
	<h3>{{object_list.0.title}}</h3>
	<p>{{object_list.0.headline}}</p>
	<div align="right"><a href="{{object_list.0.get_absolute_url}}">More information and download options</a></div>
	{% if object_list.0.youtube_video_id and object_list.0.use_youtube %}
		<div class="youtube-wrapper">
			<div id="youtube-player-main"></div>
		</div>
	{% else %}
		{% if object_list.0.videosubtitle_set.all %}
			{% embedvideo_subs object_list.0 "medium_podcast,h264" "hd_and_apple,hd720p_screen" "medium_podcast,h264" object_list.0.videosubtitle_set.all %}
		{% else %}
			{% embedvideo object_list.0 "medium_podcast,h264" "hd_and_apple,hd720p_screen" "medium_podcast,h264" %}
		{% endif%}
		{% embed_playlist object_list "medium_podcast,h264" "hd_and_apple,hd720p_screen" %}
	{% endif %}
{% endif %}

<h2>All Hubblecasts</h2>

{% include index_template with columns="3" %}

{% endblock %}

{% block rightcolumn %}
{% include "archives/searchbox.html" %}
{% load pages %}{% embed_page spacetelescope.hubblecast_sidebar %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">

	var listbar = {
		position: 'bottom',
		size: 400
	};

	{% if object_list.0.youtube_video_id and object_list.0.use_youtube %}
		var tag = document.createElement('script');

		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		var player, player_main;
		function onYouTubeIframeAPIReady() {
			player_main = new YT.Player('youtube-player-main', {
				height: '263',
				width: '468',
				videoId: '{{ object_list.0.youtube_video_id }}',
				playerVars: {
					'modestbranding': 1,
					'hl': '{{ LANGUAGE_CODE }}'
				},
				events: {
					'onReady': onPlayerReady,
				}
			});
			function onPlayerReady(event) {
				// event.target.setPlaybackQuality('large');
			}
			player = new YT.Player('youtube-player', {
				height: '387',
				width: '688',
				playerVars: {
					'modestbranding': 1,
					'hl': '{{ LANGUAGE_CODE }}'
				},
			});
		}
	{% else %}
		setupVideoPlayer('{{ object_list.0.id }}');
	{% endif %}

</script>
{% endblock %}
