{% extends "newsletters/news.html" %}
{% load release_links djangoplicity_datetime i18n %}

{% block html_title %}{% trans "ESA/Hubble Media Newsletter" %}{% endblock %}
{% block facebook_title %}{% trans "ESA/Hubble Media Newsletter" %}{% endblock %}
{% block text_only %}{% if data.announcement.release_date < now %}{% include "newsletters/includes/text_only_release.html" with org="ESA/Hubble" %}{% else %}{% include "newsletters/includes/text_only_embargo.html" with org="ESA/Hubble" %}{% endif %}{% endblock %}

{% block header_content %}
    {% if data.announcement.release_date < now %}
        {% if data.announcement %}
            {% with text_color="#f4c819" header_title="ESA/Hubble Media Newsletter" header_subtitle=data.announcement.release_date|date %}
            {% with release_date=data.announcement.release_date link_url=base_url|add:data.announcement.get_absolute_url pretitle="ESA/Hubble Announcement "|add:data.announcement.id embargo="" title=data.announcement.title subtitle=data.announcement.subtitle main_image=data.announcement.main_visual %}
            {% include "newsletters/includes/header.html" %}
            {% endwith %}
            {% endwith %}
        {% else %}
            {% with text_color="#f4c819" header_title="ESA/Hubble Media Newsletter" header_subtitle="" %}
            {% include "newsletters/includes/header.html" %}
            {% endwith %}
        {% endif %}
    {% else %}
        {% if data.announcement %}
            {% with text_color="#f4c819" header_title="ESA/Hubble Media Newsletter" header_subtitle=data.announcement.embargo_date|date %}
            {% with release_date="" link_url=base_url|add:data.announcement.get_absolute_url pretitle="ESA/Hubble Announcement "|add:data.announcement.id embargo="yes" title=data.announcement.title subtitle=data.announcement.subtitle main_image=data.announcement.main_visual %}
            {% include "newsletters/includes/header.html" %}
            {% endwith %}
            {% endwith %}
        {% else %}
            {% with text_color="#f4c819" header_title="ESA/Hubble Media Newsletter" header_subtitle="" %}
            {% include "newsletters/includes/header.html" %}
            {% endwith %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if data.announcement.release_date < now %}
        {% with embargo="" announcement=data.announcement signature_date=data.announcement.release_date signature="ESA/Hubble Information Centre" %}
            {% include "newsletters/includes/announcement.html" %}
        {% endwith %}
    {% else %}
        {% with embargo="yes" announcement=data.announcement signature_date=data.announcement.embargo_date signature="ESA/Hubble Information Centre" %}
            {% include "newsletters/includes/announcement.html" %}
        {% endwith %}
    {% endif %}
    
    {% if editorial %}
    <br /><hr style="{{hr_style}}"><br />
    {% include "newsletters/includes/editorial.html" %}
    {% endif %}
    
    {% if data.announcements %}
    <br /><hr style="{{hr_style}}"><br />
    {% with objects=data.announcements org="ESA/Hubble" title="Announcements" feed_url="http://feeds.feedburner.com/hubble_announcements" urlpattern="announcements_defaultquery" %}
        {% include "newsletters/includes/archiveobjects.html" %}
    {% endwith %}
    {% endif %}
{% endblock %}

{% block footer %} 
    {% with followus="yes" reason="you subscribed to ESO & ESA/Hubble Media Newsletter." %}
    {% if data.announcement.release_date < now %}
        {% include "newsletters/includes/footer.html" with width="693" %}
    {% else %}
        {% with footer_note='* The embargo that ePOD uses for its press releases acts as an advanced notice system and it is not meant to "hype" news items. Given the often complex nature of the astronomical discoveries, we prefer to make our press releases and additional materials available about 48 hours in advance of the public release to give media representatives the time to research a topic, gather relevant information or conduct interviews. This ultimately leads to better and more accurate coverage of our news and therefore the general public will also be better informed.' %}
        {% include "newsletters/includes/footer.html" with width="693" %}
        {% endwith %}
    {% endif %}
    
    {% endwith %}
{% endblock %}
