{% extends "base_twocolumn.html" %}

{% block site_title %}{{object.title}} | {{block.super}}{% endblock %}

{% load menus %}
{% block breadcrumb %}{{ block.super}}{% breadcrumb_append object.title object.get_absolute_url %}{% endblock %}

{% block content %}
{% load djangoplicity_datetime %}
<h3 class="pr_typeid">{{object.id}} - Announcement</h3>
<h1 class="pr_title">{{object.title}}</h1>
<p class="date">{{object.release_date|datetime:"DATE_LONG"}}</p>
{% include 'archives/embargo_notice.html' %}
{% if object.resource_medium %}
<div class="archive_image">
<div class="image_container">{% if object.resource_screen %}<a href="{{object.resource_screen.url}}" rel="shadowbox" title="{{object}}" />
<img src="{{object.resource_medium.url}}" width="320" border="0" alt="{{object}}" />
<br/><p>Click to Enlarge</p></a>
{% else %}
<img src="{{object.resource_medium.url}}" width="320" border="0" alt="{{object}}" />
{% endif %}
</div>
</div>
{% endif %}
<p>{{ object.description|safe }}</p>
{% include 'archives/credit.html' %}
{% include 'archives/extra_footer.html' %}
{% endblock %}


{% block rightcolumn %}
{% include admin_template %}
{% include info_template %}
<hr />
{% include "images/embedded_list.html" %}
{% include "videos/embedded_list.html" %}
{% include resources_template %}
{% endblock %}