{% if followus %}
    <p style="font-size: 11px; text-align:center;">Follow us on:</p>
    <div style="overflow:hidden;">
        <div style="width: 50%; float:left; text-align:center; color: white">
            <p>ESA/Hubble</p>
            <a href="https://www.facebook.com/HubbleESA"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"facebook.png"></a>
            <a href="https://twitter.com/hubble_space"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"twitter.png"></a>
            <a href="https://www.youtube.com/user/HubbleESA"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"youtube.png"></a>
            <a href="https://itunes.apple.com/de/podcast/hubblecast-hd/id258935617"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"apple.png"></a>
            <a href="https://www.vimeo.com/hubbleesa"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"vimeo.png"></a>
            <a href="https://www.flickr.com/photos/hubble_esa"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"flickr.png"></a>
            <a href="https://www.instagram.com/hubbleesa/"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"instagram.png"></a>
            <a href="https://www.linkedin.com/company/esahubble/"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"linkedin.png"></a>
        </div>

        <div style="width: 50%; float:right; text-align:center; color: white">
            <p>ESA/Webb</p>
            <a href="https://www.facebook.com/ESAWebb/"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"facebook.png"></a>
            <a href="https://twitter.com/ESA_Webb"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"twitter.png"></a>
            <a href="https://www.youtube.com/playlist?list=PLYkdISzMpKQoYb65baAvLV3Nc5z70uJ0w"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"youtube.png"></a>
            <a href="https://www.instagram.com/esawebb/"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"instagram.png"></a>
            <a href="https://www.linkedin.com/company/esahubble/"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"linkedin.png"></a>
            <a href="https://giphy.com/esawebb"><img style="width: 32px; height: 32px;" hubble_logo_url=base_url|add:"/assets/icons/social-media"|add:"giphy.png"></a>
        </div>
    </div>
{% endif %}
