{% if followus %}
<p style="font-size: 11px; text-align:center;">Follow us on:</p>
<p style="font-size: 11px; text-align:center;"><img src="{{base_url}}/static/socialicons.png" style="border:0px;" usemap="#sociallinks"></img></p>
<map id="sociallinks" name="sociallinks">
    <area shape="rect" alt="Facebook" coords="0,0,38,34" href="http://www.facebook.com/HubbleESA" />
    <area shape="rect" alt="Twitter" coords="44,0,78,34" href="http://twitter.com/hubble_space" />
    <area shape="rect" alt="YouTube" coords="84,0,118,34" href="http://www.youtube.com/user/HubbleESA" />
    <area shape="rect" alt="Itunes" coords="124,0,158,34" href="http://itunes.apple.com/de/podcast/hubblecast-hd/id258935617" />
    <area shape="rect" alt="Vimeo" coords="164,0,198,34" href="http://www.vimeo.com/hubbleesa" />
    <area shape="rect" alt="Flickr" coords="204,0,238,34" href="http://www.flickr.com/photos/hubble_esa" />
    <area shape="rect" alt="Instagram" coords="244,0,278,34" href="https://www.instagram.com/hubbleesa/" />
    <area shape="rect" alt="Linkedin" coords="284,0,318,34" href="https://www.linkedin.com/company/esahubble/" />
</map>
{% endif %}
