{% load i18n %}
{% comment %} <div style="font-family: Helvetica, Arial;text-align:center;font-size:15px;color:white; padding-bottom:10px;"><a style="font-size:15px;color:black;" href="https://www.spacetelescope.org/forscientists/announcements/sci16008/"><strong>How to advertise your Hubble results</strong></a></div> {% endcomment %}
<!-- // Begin Template Footer \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="{% include "newsletters/includes/width.html" %}" id="templateFooter" style="background-color: #FFFFFF;border-top: 0;">
                                        <tr>
                                            <td valign="top" class="footerContent">
                                                <!-- // Begin Module: Standard Footer \\ -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr><td colspan="3" style="background-color:#292929" height="5"></td></tr>
                                                    <tr>
                                                        <td width="20" style="background-color:#292929">&nbsp;</td>
                                                        <td valign="top" width="{{width}}" style="background-color:#292929">
                                                            <div style="color: #707070;font-family: Helvetica, Arial;font-size: 10px;line-height: 125%;text-align: center;background-color:#292929; padding-top:5px;padding-bottom:0px;padding-left:0px;padding-right:0px;">
                                                                {% if footer_potws %}

                                                                    <div style="text-align: center">
                                                                        <a href="https://esahubble.org/images/potw2231a/"><img src="{{base_url}}/assets/images/potw-hubble/potw2228a.jpg"></a>&nbsp;
                                                                        <a href="https://esahubble.org/images/potw2230a/"><img src="{{base_url}}/assets/images/potw-hubble/potw2227a.jpg"></a>&nbsp;
                                                                        <a href="https://esahubble.org/images/potw2229a/"><img src="{{base_url}}/assets/images/potw-hubble/potw2226a.jpg"></a>&nbsp;
                                                                        <a href="https://esahubble.org/images/potw2228a/"><img src="{{base_url}}/assets/images/potw-hubble/potw2225a.jpg"></a>&nbsp;
                                                                        <a href="https://esahubble.org/images/potw2227a/"><img src="{{base_url}}/assets/images/potw-hubble/potw2224a.jpg"></a>&nbsp;
                                                                    </div>

                                                                    <div style="font-size:15px;color:white; padding-top: 5px;">
                                                                        <a href="{{potw_feed_url}}" style="color:white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss-fill" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/></svg></a>&nbsp;
                                                                        <a style="font-size:15px;color:white;text-decoration:none;" href="https://esahubble.org/images/potw/">{{ "ESA/Hubble" }} {% trans "Pictures of the Week" %}</a>
                                                                    <hr size="1" style="color: #bbbbbb; background-color: #bbbbbb; border: 0; height: 1px;" />
                                                                    </div>

                                                                    {% for obj in footer_potws %}{% if obj.image %}
                                                                        <a href="{{base_url}}{{obj.image.get_absolute_url}}"><img style="border:0px;margin:2px;" src="{{base_url}}{{obj.image.resource_wallpaperthumbs.url}}" alt="{{obj.image.title}}"></img></a>&nbsp;
                                                                        {% endif %}{% if obj.comparison %}
                                                                        <a href="{{base_url}}{{obj.comparison.get_absolute_url}}"><img style="border:0px;margin:2px;" src="{{base_url}}{{obj.comparison.resource_wallpaperthumbs.url}}" alt="{{obj.comparison.title}}"></img></a>&nbsp;{% endif %}
                                                                    {% endfor %}

                                                                    <div style="font-size:15px;color:white; padding-top: 5px;">
                                                                        <a href="{{potw_feed_url}}" style="color:white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss-fill" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/></svg></a>&nbsp;
                                                                        <a style="font-size:15px;color:white;text-decoration:none;" href="{{base_url}}{% url 'potw_defaultquery' %}">{{ "ESA/Webb" }} {% trans "Pictures of the Month" %}</a>
                                                                    <hr size="1" style="color: #bbbbbb; background-color: #bbbbbb; border: 0; height: 1px;" />
                                                                    </div>
                                                                {% endif %}
                                                                <div style="text-align:left;padding-top:5px;color:white; background-color:#292929;">
                                                                {% if footer_note %}<p style="font-size: 11px;">{% trans footer_note %}</p>{% endif%}
                                                                {% include "newsletters/includes/preferences_bottom.html" %}
                                                                {% include "newsletters/includes/footer_followus.html" %}
                                                                <p style="font-size: 11px; text-align:center; margin-bottom: 0px;">{% if address %}{{ address }}{% else %}ESA/Hubble/Webb, ESA Office, Space Telescope Science Institute, 3700 San Martin Dr, D-21218 Baltimore, United States"{% endif %}</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td width="20" style="background-color:#292929">&nbsp;</td>
                                                    </tr>
                                                    <tr><td colspan="3" style="background-color:#292929" height="10">&nbsp;</td></tr>
                                                </table>
                                                <!-- // End Module: Standard Footer \\ -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Footer \\ -->
