{% load menus %}
{% load i18n %}

<ul id="navbar" class="navbar-nav me-auto  mb-0">
    <li class="nav-item me-3 py-2"> <a class="nav-link text-white" href="#">Home</a> </li>
    {% for entry in submenu %}
    <li class="nav-item dropdown me-3 py-2">
        <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" >
            {% trans entry.title|safe %}
        </a>
        {% if entry.children|length %}
        <ul id="submenu-aim-{{ entry.id }}"
            class="dropdown-menu">
            {% render_submenu entry.children main_children %}
        </ul>
        </div>

        {% endif %}
    </li>
    {% endfor %}

</ul>