{% extends "core.html" %}

{% load menus %}
{% load i18n %}


{% block children %}
{% comment %}
We don't display the children pages widget in the dark pages
{% endcomment %}
{% endblock %}

{% block content_area %}

<div id="dark">
{% if request.NO_TRANSLATION %}
	<div class="notranslation-alert alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>{% trans "Sorry!" %}</strong> {% trans "This page is not yet available in your preferred language, so we're displaying the original version instead." %}
	</div>
{% endif %}

	<div class="container" id="dark-header">
		<div class="row no-page">
			<div class="col-md-12">
				{% block archive_search %}
				{% endblock %}
			</div>
			<div class="col-md-12">
				<h1>{% if archive_title %}{% trans archive_title %}{% else %}{{ archive|capfirst }} {% trans "Archive" %}{% endif %}{% if listview_feed_url %} <a href="{{ listview_feed_url }}" class="listviewrsslink"><span class="fa fa-rss"></span></a>{% endif %}</h1>
			</div>
			{% if archive == 'image' %}
			<div class="col-md-12 media-categories">
				<ul>
					<li><a href="/public/images/viewall/">{% trans "View All" %}</a></li>
					<li><a href="/public/images/archive/category/alma/"{% if '/images/archive/category/alma/' in request.path %} class="selected"{% endif %}>{% trans "ALMA" %}</a></li>
					<li><a href="/public/images/archive/category/apex/"{% if '/images/archive/category/apex/' in request.path %} class="selected"{% endif %}>{% trans "APEX" %}</a></li>
					<li><a href="/public/images/archive/category/chile/"{% if '/images/archive/category/chile/' in request.path %} class="selected"{% endif %}>{% trans "Chile" %}</a></li>
					<li><a href="/public/images/archive/category/cosmology/"{% if '/images/archive/category/cosmology/' in request.path %} class="selected"{% endif %}>{% trans "Cosmology" %}</a></li>
					<li><a href="/public/images/archive/category/e-elt/"{% if '/images/archive/category/e-elt/' in request.path %} class="selected"{% endif %}>{% trans "E-ELT" %}</a></li>
					<li><a href="/public/images/archive/category/eso-supernova/"{% if '/images/archive/category/eso-supernova/' in request.path %} class="selected"{% endif %}>{% trans "ESO Supernova" %}</a></li>
					<li><a href="/public/images/archive/category/exoplanets/"{% if '/images/archive/category/exoplanets/' in request.path %} class="selected"{% endif %}>{% trans "Exoplanets" %}</a></li>
					<li><a href="/public/images/archive/category/galaxies/"{% if '/images/archive/category/galaxies/' in request.path %} class="selected"{% endif %}>{% trans "Galaxies" %}</a></li>
					<li><a href="/public/images/archive/category/galaxyclusters/"{% if '/images/archive/category/galaxyclusters/' in request.path %} class="selected"{% endif %}>{% trans "Galaxy Clusters" %}</a></li>
					<li><a href="/public/images/archive/category/illustrations/"{% if '/images/archive/category/illustrations/' in request.path %} class="selected"{% endif %}>{% trans "Illustrations" %}</a></li>
					<li><a href="/public/images/archive/category/lasilla/"{% if '/images/archive/category/lasilla/' in request.path %} class="selected"{% endif %}>{% trans "La Silla" %}</a></li>
					<li><a href="/public/images/archive/category/nebulae/"{% if '/images/archive/category/nebulae/' in request.path %} class="selected"{% endif %}>{% trans "Nebulae" %}</a></li>
					<li><a href="/public/images/archive/category/paranal/"{% if '/images/archive/category/paranal/' in request.path %} class="selected"{% endif %}>{% trans "Paranal" %}</a></li>
					<li><a href="/public/images/archive/category/peopleandevents/"{% if '/images/archive/category/peopleandevents/' in request.path %} class="selected"{% endif %}>{% trans "People and Events" %}</a></li>
					<li><a href="/public/images/archive/category/premises/"{% if '/images/archive/category/premises/' in request.path %} class="selected"{% endif %}>{% trans "Premises" %}</a></li>
					<li><a href="/public/images/archive/category/blackholes/"{% if '/images/archive/category/blackholes/' in request.path %} class="selected"{% endif %}>{% trans "Quasars and Black Holes" %}</a></li>
					<li><a href="/public/images/archive/category/solarsystem/"{% if '/images/archive/category/solarsystem/' in request.path %} class="selected"{% endif %}>{% trans "Solar System" %}</a></li>
					<li><a href="/public/images/archive/category/starclusters/"{% if '/images/archive/category/starclusters/' in request.path %} class="selected"{% endif %}>{% trans "Star Clusters" %}</a></li>
					<li><a href="/public/images/archive/category/stars/"{% if '/images/archive/category/stars/' in request.path %} class="selected"{% endif %}>{% trans "Stars" %}</a></li>
					<li><a href="/public/images/archive/category/surveytelescopes/"{% if '/images/archive/category/surveytelescopes/' in request.path %} class="selected"{% endif %}>{% trans "Survey Telescopes" %}</a></li>
				</ul>
			</div>
			{% elif archive == 'video' %}
			<div class="col-md-12 media-categories">
				<ul>
					<li><a href="/public/videos/">{% trans "View All" %}</a></li>
					<li><a href="/public/videos/archive/category/abouteso/"{% if '/videos/archive/category/abouteso/' in request.path %} class="selected"{% endif %}>{% trans "About ESO" %}</a></li>
					<li><a href="/public/videos/archive/category/alma/"{% if '/videos/archive/category/alma/' in request.path %} class="selected"{% endif %}>{% trans "ALMA" %}</a></li>
					<li><a href="/public/videos/archive/category/apex/"{% if '/videos/archive/category/apex/' in request.path %} class="selected"{% endif %}>{% trans "APEX" %}</a></li>
					<li><a href="/public/videos/archive/category/compilations/"{% if '/videos/archive/category/compilations/' in request.path %} class="selected"{% endif %}>{% trans "Compilations" %}</a></li>
					<li><a href="/public/videos/archive/category/cosmology/"{% if '/videos/archive/category/cosmology/' in request.path %} class="selected"{% endif %}>{% trans "Cosmology" %}</a></li>
					<li><a href="/public/videos/archive/category/e-elt/"{% if '/videos/archive/category/e-elt/' in request.path %} class="selected"{% endif %}>{% trans "E-ELT" %}</a></li>
					<li><a href="/public/videos/archive/category/esocast/"{% if '/videos/archive/category/esocast/' in request.path %} class="selected"{% endif %}>{% trans "ESOcast" %}</a></li>
					<li><a href="/public/videos/archive/category/events/"{% if '/videos/archive/category/events/' in request.path %} class="selected"{% endif %}>{% trans "Events" %}</a></li>
					<li><a href="/public/videos/archive/category/exoplanets/"{% if '/videos/archive/category/exoplanets/' in request.path %} class="selected"{% endif %}>{% trans "Exoplanets" %}</a></li>
					<li><a href="/public/videos/archive/category/featuremovies/"{% if '/videos/archive/category/featuremovies/' in request.path %} class="selected"{% endif %}>{% trans "Feature Movies" %}</a></li>
					<li><a href="/public/videos/archive/category/fulldome/"{% if '/videos/archive/category/fulldome/' in request.path %} class="selected"{% endif %}>{% trans "Fulldome" %}</a></li>
					<li><a href="/public/videos/archive/category/galaxies/"{% if '/videos/archive/category/galaxies/' in request.path %} class="selected"{% endif %}>{% trans "Galaxies" %}</a></li>
					<li><a href="/public/videos/archive/category/galaxyclusters/"{% if '/videos/archive/category/galaxyclusters/' in request.path %} class="selected"{% endif %}>{% trans "Galaxy Clusters" %}</a></li>
					<li><a href="/public/videos/archive/category/lasilla/"{% if '/videos/archive/category/lasilla/' in request.path %} class="selected"{% endif %}>{% trans "La Silla" %}</a></li>
					<li><a href="/public/videos/archive/category/nebulae/"{% if '/videos/archive/category/nebulae/' in request.path %} class="selected"{% endif %}>{% trans "Nebulae" %}</a></li>
					<li><a href="/public/videos/archive/category/paranal/"{% if '/videos/archive/category/paranal/' in request.path %} class="selected"{% endif %}>{% trans "Paranal" %}</a></li>
					<li><a href="/public/videos/archive/category/premises/"{% if '/videos/archive/category/premises/' in request.path %} class="selected"{% endif %}>{% trans "Premises" %}</a></li>
					<li><a href="/public/videos/archive/category/blackholes/"{% if '/videos/archive/category/blackholes/' in request.path %} class="selected"{% endif %}>{% trans "Quasars and Black Holes" %}</a></li>
					<li><a href="/public/videos/archive/category/solarsystem/"{% if '/videos/archive/category/solarsystem/' in request.path %} class="selected"{% endif %}>{% trans "Solar System" %}</a></li>
					<li><a href="/public/videos/archive/category/starclusters/"{% if '/videos/archive/category/starclusters/' in request.path %} class="selected"{% endif %}>{% trans "Star Clusters" %}</a></li>
					<li><a href="/public/videos/archive/category/stars/"{% if '/videos/archive/category/stars/' in request.path %} class="selected"{% endif %}>{% trans "Stars" %}</a></li>
					<li><a href="/public/videos/archive/category/vnr/"{% if '/videos/archive/category/vnr/' in request.path %} class="selected"{% endif %}>{% trans "Video News Releases" %}</a></li>
				</ul>
			</div>
			{% endif %}
		</div>
	</div>

	<div class="container-fluid" id="dark-body">
	{% block body %}
	{% endblock %}
	</div>

</div> <!-- #dark -->
{% endblock %}
