{% extends "base.html" %}

{% block feature %}

		<div class='grid_12'>
		<p></p>
		</div>
		
		<div id='potw_box' class='grid_4'>
			<a href="#todo"><img src='{{MEDIA_URL}}images/placeholders/potw.png' /></a>
			<h1><a href="#todo">Picture Of The Week</a></h1>
			<p>heic0917: Born in beauty: proplyds in the Orion Nebula
			<br/><a href="#todo">View All</a></p>
		</div>				
		
		<div class='clear'>
		</div>


		<div id="whitebox" class=''>
			<div class='grid_12 featuredmedia'>
			

 
		<div class="rotator" id='feature_rotator'>   
			
			<div class="fbut fbut_left init_hide"><span>&#9664; Prev</span></div>
			<div class="fbut fbut_right init_hide"><span>Next &#9654;</span></div>
		    <div class="items"> 
		     
		        <div class='feature_item'>
		        	<div class="description">
						<p><a href="#todo">29 January 2010</a></p>
						<h1><a href="#todo">Vamsdfpires and collisions rejuvenate stars</h1>
						<p>Using the NASA/ESA Hubble Space Telescope, astronomers have uncovered two distinct kinds of "rejuvenated" stars in the globular cluster Messier 30. A new study shows that both stellar collisions and a...</a></p>
					</div>
					<img src='{{MEDIA_URL}}images/placeholders/feature1.png' />			
		        </div>
		        <div class='feature_item'>
		        	<div class="description">
						<p><a href="#todo">29 January 2010</a></p>
						<h1><a href="#todo">Vampir collisions rejuvenate stars</h1>
						<p>Using the NASA/ESA Hubble Space Telescope, astronomers have uncovered two distinct kinds of "rejuvenated" stars in the globular cluster Messier 30. A new study shows that both stellar collisions and a...</a></p>
					</div>
					<img src='{{MEDIA_URL}}images/placeholders/feature2.png' />			
		        </div>
		        <div class='feature_item'>
		        	<div class="description">
						<p><a href="#todo">29 January 2010</a></p>
						<h1><a href="#todo">Vampires and s rejuvenate stars</h1>
						<p>Using the NASA/ESA Hubble Space Telescope, astronomers have uncovered two distinct kinds of "rejuvenated" stars in the globular cluster Messier 30. A new study shows that both stellar collisions and a...</a></p>
					</div>
					<img src='{{MEDIA_URL}}images/placeholders/feature3.png' />			
		        </div>
		        <div class='feature_item'>
		        	<div class="description">
						<p><a href="#todo">29 January 2010</a></p>
						<h1><a href="#todo">Vampirejuvenate stars</h1>
						<p>Using the NASA/ESA Hubble Space Telescope, astronomers have uncovered two distinct kinds of "rejuvenated" stars in the globular cluster Messier 30. A new study shows that both stellar collisions and a...</a></p>
					</div>
					<img src='{{MEDIA_URL}}images/placeholders/feature4.png' />			
		        </div>
		         

		    </div> 

		</div> 

			

		<img src='{{MEDIA_URL}}images/featureshadow.png' class="shadow"/>

		</div>		
 
			<div id='usage' class='grid_4'>
			SpaceTelescope imagery is free for anyone to use. <a href="/copyright/">Read our complete image/video usage policy.</a>
			</div>
		</div>
		
		

{% endblock %}
	
{% block bodystyle %}{%endblock%}

{%block mainblock %}

{%endblock%}

