<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="http://www.spacetelescope.org/rss/feed.xml" rel="alternate" type="application/rss+xml" title="Hubble Space Telescope News">

<title>{% block site_title %}spacetelescope.org{% endblock %}</title>
<link rel="SHORTCUT ICON" href="{{MEDIA_URL}}favicon.ico" />
<link rel="ICON" href="{{MEDIA_URL}}favicon.ico" />
<link href="{{MEDIA_URL}}css/reset.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{MEDIA_URL}}css/base_grid.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{MEDIA_URL}}css/screen.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{MEDIA_URL}}css/printstyle.css" rel="stylesheet" type="text/css" media="print" />
<meta name="ROBOTS" content="INDEX,FOLLOW" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Keywords" content="Hubble, Hubble Space Telescope, HST, JWST, James Webb Space Telescope, images, information centre, news, video, European Space Agency, ESA, ACS, WFPC2, WFPC, FOS, FOC, GHRS, NICMOS, STIS, FGS, goodies, wallpaper, calendar, posters">
{% block extra_header %}{% endblock %}
{% load menus %}{% init_menu 'Top Menu' as top_menu %}{%init_menu 'Top Right Menu' as top_right_menu %}{% init_menu 'Footer Menu' as footer_menu %}
</head>
<div id="header" class="container_16">

	<div class='grid_12 '>
		<a href="#todo" id='hubblelogo'></a>
	</div>
	<div class='trmenu'>
		{% spaceless %}{% render_menu top_right_menu horizontal %}{% endspaceless %}
	</div>
</div>
               
<div class='clear'></div> 

<div id="content" class="container_16">
	<div id='topcontent' class=''>
		<div id='mainmenu' class='grid_16 nomarg'>
		{% spaceless %}{% render_menu top_menu horizontal %}{% endspaceless %}
		</div>
		<div class='grid_12'>
			<div id='breadcrumb'>
{% block breadcrumb %}<a href="/">Home</a> {% breadcrumb top_menu footer_menu top_right_menu %}{% endblock %}
			</div>
		</div>
		<div id='googlesearch' class='grid_4'>
			<!-- Google CSE Search Box Begins  -->
						<form action="/search/" id="cse-search-box">
						  <input type="hidden" name="cx" value="016374242383990648147:_pzdc_64anc" />
						  <input type="hidden" name="cof" value="FORID:11" />
						  <input type="hidden" name="ie" value="UTF-8" />
						  <input type="text" id="searchbox" name="q" />
						</form>
						<!-- Google CSE Search Box Ends -->
			
		</div>
		
		<div class='clear'></div>
	
		

		
	</div>
	
	<div  id='mainblock' class='container_16 bodygradient'>

	
		<div id='leftmenu' class='grid_4'>
		{% spaceless %}{% render_menu top_menu default %}{% endspaceless %}
		</div>
		<div id='content_area' class='grid_12 ' >
		{% block content_area %}
	{% block content %}
	{% endblock %}
	{% endblock %}
		</div>
	
		
	
	</div>
</div>



<div id="footer" class="container_16">
<div class='clear'></div>
<div id="ftcol1" class="grid_3 ">
	<strong><a href='#todo'>Image Use Policy</a></strong>
	<a href="#todo">Space Telescope imagery is free for anyone to use.</a>
</div>

{% spaceless %}{% render_menu footer_menu footer %}{% endspaceless %}

<div id="ftcol5" class="grid_4">
	<strong>Social Networking</strong><br/>
	[todo]
</div>

</div>

     
</body>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
</html>
