<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<link href="http://www.spacetelescope.org/rss/feed.xml" rel="alternate" type="application/rss+xml" title="Hubble Space Telescope News">
<title>{% block site_title %}ESA/Hubble{% endblock %}</title>
<link rel="SHORTCUT ICON" href="{{MEDIA_URL}}favicon.ico" />
<link rel="ICON" href="{{MEDIA_URL}}favicon.ico" />
<link href="{{MEDIA_URL}}css/reset.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{MEDIA_URL}}css/base_grid.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{MEDIA_URL}}css/screen.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{MEDIA_URL}}css/print.css" rel="stylesheet" type="text/css" media="print" />
<link href="{{MEDIA_URL}}djangoplicity/shadowbox3/shadowbox.css" rel="stylesheet" type="text/css" media="screen"/>
<meta name="ROBOTS" content="INDEX,FOLLOW" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="Hubble, Hubble Space Telescope, HST, JWST, James Webb Space Telescope, images, information centre, news, video, European Space Agency, ESA, ACS, WFPC2, WFPC, FOS, FOC, GHRS, NICMOS, STIS, FGS, goodies, wallpaper, calendar, posters">
{% block extra_header %}{% endblock %}
{% include "archives/opengraph.html" %}
{% load menus %}{% init_menu 'Main Menu' as main_menu %}{%init_menu 'Top Right Menu' as top_right_menu %}{% init_menu 'Footer Menu' as footer_menu %}
</head>
<body>
<div id="header" class="container_16">

	<div class='grid_10 '>
		<a href="/" id='hubblelogo'></a>
	</div>
	<div class='trmenu'>
		{% spaceless %}{% render_menu top_right_menu horizontal %}{% endspaceless %}
	</div>
</div>
               
<div class='clear'></div> 

<div id="content" class="container_16">
	<div id='topcontent' class=''>
		<div id='mainmenu' class='grid_16 nomarg'>
		{% spaceless %}{% render_menu main_menu horizontal %}{% endspaceless %}
		</div>
		<div class='grid_12'>
			<div id='breadcrumb'>
{% block breadcrumb %}<a href="/">Home</a> {% breadcrumb main_menu footer_menu top_right_menu %}{% endblock %}
			</div>
		</div>
		<div id='googlesearch' class='grid_4'>
			<!-- Google CSE Search Box Begins  -->
						<form action="/search/" id="cse-search-box">
						  <input type="hidden" name="cx" value="016374242383990648147:_pzdc_64anc" />
						  <input type="hidden" name="cof" value="FORID:11" />
						  <input type="hidden" name="ie" value="UTF-8" />
						  <input type="text" id="searchbox" name="q" style='width:216px'/>
						</form>
						<!-- Google CSE Search Box Ends -->
			
		</div>
		
		<div class='clear'></div>
	
		{% block feature %}{%endblock%}

		
	</div>
	
	<div  id='mainblock' class='container_16 {%block bodystyle%}bodygradient{%endblock%}'>

	{%block mainblock %}
		<div class='grid_4 nomargr'>
		<div id='leftmenu'>
		{% spaceless %}{% render_menu main_menu level1_start %}{% endspaceless %}
		{% spaceless %}{% render_menu footer_menu level1_start %}{% endspaceless %}
		</div>
		</div>
		<div id='content_area'>
		{% block content_area %}{% block content %}{% endblock %}
		{% endblock %}
		</div>
		<div class='clear'></div>
	
	{%endblock%}

	</div>
</div>


<div id="footer" class="container_16">
<div class='clear'></div>
<div id="ftcol1" class="grid_3 ">
	<a href="/copyright/"><strong>Image/Video Use Policy</strong><br />
	Space Telescope imagery is free for anyone to use.</a>
</div>

{% spaceless %}{% render_menu footer_menu footer %}{% endspaceless %}

<div id="ftcol5" class="grid_4">
{% if not request.is_secure %}
<iframe id ='fb_like_main' src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FhubbleESA&amp;layout=standard&amp;show_faces=false&amp;width=220&amp;action=like&amp;font=arial&amp;colorscheme=dark&amp;height=40" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:40px;" allowTransparency="true"></iframe>

<!-- AddThis Button BEGIN -->
<a class="addthis_button"
href="http://www.addthis.com/bookmark.php?v%0&amp;username=epod 
"><img src="http://s7.addthis.com/static/btn/sm-share-en.gif"  
width="83" height="16" alt="Bookmark and Share" style="border:0"/></a>
<script type="text/javascript"
src="http://s7.addthis.com/js/250/addthis_widget.js#username 
=epod"></script>
<!-- AddThis Button END -->
{% endif %}
</div>
<div id="ftcolorg" class="grid_16">
<div align="center">
	<div id='organisations'>
		<a href="http://www.eso.org" id='org_eso'></a>
		<a href="http://www.astronomy2009.org" id='org_iya'></a>
		<a href="http://www.stecf.org" id='org_stecf'></a>
		<a href="http://hubble.esa.int/" id='org_esa1'></a>
		<a href="http://www.esa.int/export/esaSC/SEM106WO4HD_index_0_m.html" id='org_esa2'></a>
	</div><br />Related Organisations
</div>


</div>
<div class='clear'></div>
</div>
<script type="text/javascript">var MEDIA_URL = "{{MEDIA_URL}}"</script>
{% load assets %}{% assets filter="jsmin", output="js/packed.js", "djangoplicity/js/jquery-1.4.2.min.js", "djangoplicity/js/jquery.cycle.min.js", "djangoplicity/js/jquery.jclock-1.2.0.js", "djangoplicity/shadowbox3/shadowbox.js", "djangoplicity/js/shadowbox_conf.js", "js/site.js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% if not request.is_secure %}<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>{% endif %}
{% block extra_scripts %}{% endblock %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2368492-6");
pageTracker._trackPageview();
} catch(err) {}</script>     



</body>
</html>
