{% extends "core.html" %}

{% load menus %}
{% load i18n %}


{% block children %}
{% comment %}
We don't display the children pages widget in the dark pages
{% endcomment %}
{% endblock %}

{% block content_area %}

<div id="dark">
{% if request.NO_TRANSLATION %}
	<div class="notranslation-alert alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>{% trans "Sorry!" %}</strong> {% trans "This page is not yet available in your preferred language, so we're displaying the original version instead." %}
	</div>
{% endif %}

	<div class="container" id="dark-header">
		<div class="row no-page">
			<div class="col-md-12">
				{% block archive_search %}
				{% endblock %}
			</div>
			<div class="col-md-12">
				<h1>{% if archive_title %}{% trans archive_title %}{% else %}{{ archive|capfirst }} {% trans "Archive" %}{% endif %}{% if listview_feed_url %} <a href="{{ listview_feed_url }}" class="listviewrsslink"><span class="fa fa-rss"></span></a>{% endif %}</h1>
			</div>
			{% if archive == 'image' %}
			<div class="col-md-12 media-categories">
				<ul>
					<li><a href="/images/viewall/">{% trans "View All" %}</a></li>
					<li><a href="/images/archive/category/cosmology/"{% if '/images/archive/category/cosmology/' in request.path %} class="selected"{% endif %}>{% trans "Cosmology" %}</a></li>
					<li><a href="/images/archive/category/exoplanets/"{% if '/images/archive/category/exoplanets/' in request.path %} class="selected"{% endif %}>{% trans "Exoplanets" %}</a></li>
					<li><a href="/images/archive/category/galaxies/"{% if '/images/archive/category/galaxies/' in request.path %} class="selected"{% endif %}>{% trans "Galaxies" %}</a></li>
					<li><a href="/images/archive/category/illustrations/"{% if '/images/archive/category/illustrations/' in request.path %} class="selected"{% endif %}>{% trans "Illustrations" %}</a></li>
					<li><a href="/images/archive/category/jwst/"{% if '/images/archive/category/jwst/' in request.path %} class="selected"{% endif %}>{% trans "James Webb Space Telescope" %}</a></li>
					<li><a href="/images/archive/category/mission/"{% if '/images/archive/category/mission/' in request.path %} class="selected"{% endif %}>{% trans "Launch/Servicing Missions" %}</a></li>
					<li><a href="/images/archive/category/misc/"{% if '/images/archive/category/misc/' in request.path %} class="selected"{% endif %}>{% trans "Miscellaneous" %}</a></li>
					<li><a href="/images/archive/category/nebulae/"{% if '/images/archive/category/nebulae/' in request.path %} class="selected"{% endif %}>{% trans "Nebulae" %}</a></li>
					<li><a href="/images/archive/category/blackholes/"{% if '/images/archive/category/blackholes/' in request.path %} class="selected"{% endif %}>{% trans "Quasars and Black Holes" %}</a></li>
					<li><a href="/images/archive/category/solarsystem/"{% if '/images/archive/category/solarsystem/' in request.path %} class="selected"{% endif %}>{% trans "Solar System" %}</a></li>
					<li><a href="/images/archive/category/spacecraft/"{% if '/images/archive/category/spacecraft/' in request.path %} class="selected"{% endif %}>{% trans "Spacecraft" %}</a></li>
					<li><a href="/images/archive/category/starclusters/"{% if '/images/archive/category/starclusters/' in request.path %} class="selected"{% endif %}>{% trans "Star Clusters" %}</a></li>
					<li><a href="/images/archive/category/stars/"{% if '/images/archive/category/stars/' in request.path %} class="selected"{% endif %}>{% trans "Stars" %}</a></li>
				</ul>
			</div>
			{% elif archive == 'video' %}
			<div class="col-md-12 media-categories">
				<ul>
					<li><a href="/videos/">{% trans "View All" %}</a></li>
					<li><a href="/videos/archive/category/3d/"{% if '/videos/archive/category/3d/' in request.path %} class="selected"{% endif %}>{% trans "3D Animations" %}</a></li>
					<li><a href="/videos/archive/category/cosmology/"{% if '/videos/archive/category/cosmology/' in request.path %} class="selected"{% endif %}>{% trans "Cosmology" %}</a></li>
					<li><a href="/videos/archive/category/dome/"{% if '/videos/archive/category/dome/' in request.path %} class="selected"{% endif %}>{% trans "Dome Masters" %}</a></li>
					<li><a href="/videos/archive/category/exoplanets/"{% if '/videos/archive/category/exoplanets/' in request.path %} class="selected"{% endif %}>{% trans "Exoplanets" %}</a></li>
					<li><a href="/videos/archive/category/eyesontheskies/"{% if '/videos/archive/category/eyesontheskies/' in request.path %} class="selected"{% endif %}>{% trans "Eyes on the Skies DVD" %}</a></li>
					<li><a href="/videos/archive/category/galaxies/"{% if '/videos/archive/category/galaxies/' in request.path %} class="selected"{% endif %}>{% trans "Galaxies" %}</a></li>
					<li><a href="/videos/archive/category/hd/"{% if '/videos/archive/category/hd/' in request.path %} class="selected"{% endif %}>{% trans "HD Videos" %}</a></li>
					<li><a href="/videos/archive/category/dvd/"{% if '/videos/archive/category/dvd/' in request.path %} class="selected"{% endif %}>{% trans "Hubble 15 Year DVD" %}</a></li>
					<li><a href="/videos/archive/category/hubble/"{% if '/videos/archive/category/hubble/' in request.path %} class="selected"{% endif %}>{% trans "Hubble Images Videos" %}</a></li>
					<li><a href="/videos/archive/category/hubblecast/"{% if '/videos/archive/category/hubblecast/' in request.path %} class="selected"{% endif %}>{% trans "Hubblecast" %}</a></li>
					<li><a href="/videos/archive/category/jwst/"{% if '/videos/archive/category/jwst/' in request.path %} class="selected"{% endif %}>{% trans "James Webb Space Telescope" %}</a></li>
					<li><a href="/videos/archive/category/misc/"{% if '/videos/archive/category/misc/' in request.path %} class="selected"{% endif %}>{% trans "Miscellaneous" %}</a></li>
					<li><a href="/videos/archive/category/nebulae/"{% if '/videos/archive/category/nebulae/' in request.path %} class="selected"{% endif %}>{% trans "Nebulae" %}</a></li>
					<li><a href="/videos/archive/category/blackholes/"{% if '/videos/archive/category/blackholes/' in request.path %} class="selected"{% endif %}>{% trans "Quasars and Black Holes" %}</a></li>
					<li><a href="/videos/archive/category/solarsystem/"{% if '/videos/archive/category/solarsystem/' in request.path %} class="selected"{% endif %}>{% trans "Solar System" %}</a></li>
					<li><a href="/videos/archive/category/spacecraft/"{% if '/videos/archive/category/spacecraft/' in request.path %} class="selected"{% endif %}>{% trans "Spacecraft" %}</a></li>
					<li><a href="/videos/archive/category/starclusters/"{% if '/videos/archive/category/starclusters/' in request.path %} class="selected"{% endif %}>{% trans "Star Clusters" %}</a></li>
					<li><a href="/videos/archive/category/stars/"{% if '/videos/archive/category/stars/' in request.path %} class="selected"{% endif %}>{% trans "Stars" %}</a></li>
				</ul>
			</div>
			{% endif %}
		</div>
	</div>

	<div class="container-fluid" id="dark-body">
	{% block body %}
	{% endblock %}
	</div>

</div> <!-- #dark -->
{% endblock %}
