{% extends "base.html" %}
{% load djangoplicity_datetime %}
{% block feature %}

		<div class='grid_12'>
		<p></p>
		</div>
		
		<div id='potw_box' class='grid_4'>
			<a href="{{potw.visual.get_absolute_url}}"><img src='{{potw.visual.resource_potwmedium.url}}' width="220" height="140" /></a>
			<h1>Picture Of The Week<a href="http://feeds.feedburner.com/hubble_potw/" class='rssicon'><img src='{{MEDIA_URL}}images/rssicon.png' /></a> </h1>
			<p><a href="{{potw.visual.get_absolute_url}}">{{potw.id}}: {{potw.visual.title}}</a>
			<br/><a class="viewall" href="{% url potw_defaultquery %}">View All</a></p>
		</div>				
		
		<div class='clear'>
		</div>


		<div id="whitebox" class=''>
			<div class='grid_12 featuredmedia'>
			

 		
		<div class="rotator" id='feature_rotator'>   
			<div id="feat-nav-viewall"><a class="rssicon" href="http://feeds.feedburner.com/hubble_news/"><img src="/static/images/rssicon.png" /></a><a href="{% url releases_defaultquery %}">View All</a></div>
			
			
			<div class="fbut_selector">
			<div id="feat-nav"></div>
			</div>
			
			
			<div class="fbut fbut_left init_hide"><span>&#9664; Prev</span></div>
			<div class="fbut fbut_right init_hide"><span>Next &#9654;</span></div>
			
		    <div class="items"> 
		     	{% for object in releases %}
		        <div class='feature_item'>
		        	
		        	<div class="description">
						<p><a href="{{object.get_absolute_url}}">{{object.release_date|datetime:"DATE_LONG"}}</a></p>
						<h1><a href="{{object.get_absolute_url}}"><div class='title'>{{object.title}}</div></h1>
						<p>{{object.headline|truncatewords:35}}</a></p>
					</div>
					<a href="{{object.get_absolute_url}}"><img src="{{object.main_image.resource_newsfeature.url}}" width="700" height="280" /></a>			
		        </div>
		        {% endfor %}
		    </div> 

		</div> 

			

		<img src='{{MEDIA_URL}}images/featureshadow.png' class="shadow"/>

		</div>		
 
			<div id='usage' class='grid_4'>
			SpaceTelescope imagery is free for anyone to use. <a href="/copyright/">Read our complete image/video usage policy.</a>
			</div>
		</div>
		
		

{% endblock %}
	
{% block bodystyle %}{%endblock%}

{%block mainblock %}

{%endblock%}

