{% extends "base.html" %}

{% block feature %}
<div class='gutter'>
			<div class='whitegutter bodygradient'>
			</div>
		</div>
				
		<div class='grid_12 nomarg featuredmedia'>
			
			<div class="description">
				<p><a href="#todo">29 January 2010</a></p>
				<h1><a href="#todo">Vampires and collisions rejuvenate stars</h1>
				<p>Using the NASA/ESA Hubble Space Telescope, astronomers have uncovered two distinct kinds of "rejuvenated" stars in the globular cluster Messier 30. A new study shows that both stellar collisions and a...</a></p>
			</div>
			<img src='{{MEDIA_URL}}images/placeholders/feature1.png' />

			<img src='{{MEDIA_URL}}images/featureshadow.png' class="shadow"/>

		</div>
		
		<div class='gutter'>
			<div class='whitegutter bodygradient'>
			</div>
		</div>
		
		<div id='potw_box' class='grid_4'>
			<a href="#todo"><img src='{{MEDIA_URL}}images/placeholders/potw.png' /></a>
			<h1><a href="#todo">Picture Of The Week</a></h1>
			<p>heic0917: Born in beauty: proplyds in the Orion Nebula
			<br/><a href="#todo">View All</a></p>
			
			<div id="usage">
			SpaceTelescope imagery is free for anyone to use. <a href="#todo">Read our complete image usage policy.</a>
			</div>	
		</div>
{% endblock %}
	
{% block bodystyle %}{%endblock%}

{%block mainblock %}

{%endblock%}
