{% extends "base_feature.html" %}

{%block mainblock%}
		<div class='grid_6 fp_news'>
			<h1>
				<a href="#todo">Announcements</a>
				<a href="#todo"><img src="{{MEDIA_URL}}img/rssicon.png" /></a>
			</h1>
			<img src='{{MEDIA_URL}}img/placeholders/news.png' />
			<img src='{{MEDIA_URL}}img/placeholders/news2.png' />
			<img src='{{MEDIA_URL}}img/placeholders/news.png' />
			<img src='{{MEDIA_URL}}img/placeholders/news.png' />
			<img src='{{MEDIA_URL}}img/placeholders/news2.png' />
			
		</div>
		<div class='grid_6 fp_news'>
			<h1>
				<a href="#todo">Hubblecast</a>
				<a href="#todo"><img src="{{MEDIA_URL}}img/rssicon.png" /></a>
				[icon]
			</h1>
		</div>
		<div class='grid_4'>
			<h1>POTD</h1>
		</div>
		
	</div>
{%endblock%}