{% extends "base_feature.html" %}

{%block mainblock%}
		<div class='grid_6 fp_news'>
			<h1>
				<a href="#todo">Announcements</a>
				<a href="#todo"><img src="{{MEDIA_URL}}images/rssicon.png" /></a>
			</h1>
			
			<div class='entry'>
				<img src='{{MEDIA_URL}}images/placeholders/news2.png' />
				<div class='info'>
					<div class='title'>Vampires and Collisions rejuvenate stars</div>
					<div class='date'>23-Dec-2009</div>
				</div>
			</div>
			<div class='entry'>
				<img src='{{MEDIA_URL}}images/placeholders/news2.png' />
				<div class='info'>
					<div class='title'>Vampires and Collisions rejuvenate stars</div>
					<div class='date'>23-Dec-2009</div>
				</div>
			</div>
			<div class='entry'>
				<img src='{{MEDIA_URL}}images/placeholders/news2.png' />
				<div class='info'>
					<div class='title'>Vampires and Collisions rejuvenate stars</div>
					<div class='date'>23-Dec-2009</div>
				</div>
			</div>
			<div class='entry'>
				<img src='{{MEDIA_URL}}images/placeholders/news2.png' />
				<div class='info'>
					<div class='title'>Vampires and Collisions rejuvenate stars</div>
					<div class='date'>23-Dec-2009</div>
				</div>
			</div>

		</div>
		<div class='grid_6 fp_news'>
			<h1>
				<a href="#todo">Hubblecast</a>
				<a href="#todo"><img src="{{MEDIA_URL}}images/rssicon.png" /></a>
			</h1>
			<div class='entry'>
				<img src='{{MEDIA_URL}}images/placeholders/news2.png' />
				<div class='info'>
					<div class='title'>Vampires and Collisions rejuvenate stars</div>
					<div class='date'>23-Dec-2009</div>
				</div>
			</div>
			<div class='entry'>
				<img src='{{MEDIA_URL}}images/placeholders/news2.png' />
				<div class='info'>
					<div class='title'>Vampires and Collisions rejuvenate stars</div>
					<div class='date'>23-Dec-2009</div>
				</div>
			</div>
			<div class='entry'>
				<img src='{{MEDIA_URL}}images/placeholders/news2.png' />
				<div class='info'>
					<div class='title'>Vampires and Collisions rejuvenate stars</div>
					<div class='date'>23-Dec-2009</div>
				</div>
			</div>
			<div class='entry'>
				<img src='{{MEDIA_URL}}images/placeholders/news2.png' />
				<div class='info'>
					<div class='title'>Vampires and Collisions rejuvenate stars</div>
					<div class='date'>23-Dec-2009</div>
				</div>
			</div>
			
		</div>
		<div class='grid_4 '>
			<div class='leftbord2 '>
				<div class='potd_box'>
				<h1>Picture of the Day</h1>
				<img src='{{MEDIA_URL}}images/placeholders/potd.png'></img>
				<div class='title'>Hubble Views NGC 4402</div>
				<div class='desc'>This image highlights lorem ipsum dolor sit amet</div>
				</div>
				
				<div class='potd_box'>
				<h1>Video of the Day</h1>
				<img src='{{MEDIA_URL}}images/placeholders/potd.png'></img>
				<div class='title'>Hubble Views NGC 4402</div>
				<div class='desc'>This image highlights lorem ipsum dolor sit amet</div>
				</div>
			</div>
		</div>
	
		<div class='clear'></div>
		
		<div class='fpicon_area'>
			<div class='fpicon grid_2'>
			<a href="/about/history/servicing_mission_4/">
			<img src='{{MEDIA_URL}}images/frontpageicons/sm4.jpg' />
			</a>
			</div>

			<div class='fpicon grid_2'>
			<a href="http://www.cosmiccollisions.org">
			<img src='{{MEDIA_URL}}images/frontpageicons/cosmic-collisions.jpg' />
			</a>
			</div>

			<div class='fpicon grid_2'>
			<a href="#todo">
			<img src='{{MEDIA_URL}}images/frontpageicons/hubble20th.jpg' />
			</a>
			</div>

			<div class='fpicon grid_2'>
			<a href="/videos/archive/category/hubblecast/">
			<img src='{{MEDIA_URL}}images/frontpageicons/hubblecast.jpg' />
			</a>
			</div>

			<div class='fpicon grid_2'>
			<a href="#todo">
			<img src='{{MEDIA_URL}}images/frontpageicons/contest.jpg' />
			</a>
			</div>

			<div class='fpicon grid_2'>
			<a href="/images/archive/top100/">
			<img src='{{MEDIA_URL}}images/frontpageicons/top100.jpg' />
			</a>
			</div>

			<div class='fpicon grid_2'>
			<a href="/shop/">
			<img src='{{MEDIA_URL}}images/frontpageicons/hubbleshop.jpg' />
			</a>
			</div>
			
			<div class='fpicon grid_2'>
			<a href="http://www.portaltotheuniverse.org">
			<img src='{{MEDIA_URL}}images/frontpageicons/pttu.jpg' />
			</a>
			</div>
		</div>
	</div>

{%endblock%}

