{% extends "core.html" %}

{% load djangoplicity_datetime %}
{% load media_video %}
{% load i18n %} 

{% block extra_header %}
	<meta property="og:title" content="ESO — The European Southern Observatory" />
	<meta property="og:description" content="Welcome to the most powerful astronomical observatories in the world." />
	<meta property="og:image" content="http://www.eso.org/public/archives/images/screen/uhd_yuri_alma_ant_cc.jpg" />
	<meta property="og:image:secure_url" content="https://www.eso.org/public/archives/images/screen/uhd_yuri_alma_ant_cc.jpg" />
{% endblock %}

{% block content_area %}
<div id="pr-carousel-wrapper">
	<div id="pr-carousel">
		{% for release in releases %}
		<div class="slide">
			<a href="{{ release.get_absolute_url }}">
			{% if release.main_image.resource_banner1920 %}
				<img draggable="false" data-lazy="{{ release.main_image.resource_banner1920.url }}" alt="{{ release.main_image.title }}">
			{% else %}
				<img draggable="false" data-lazy="{{ release.main_image.resource_wallpaper3.url }}" alt="{{ release.main_image.title }}">
			{% endif %}
			<div class="pr-content">
				<div class="pr-description">
					<div class="pr-type">{{ release.id }} — {{ release.release_type.name }}</div>
					<div class="pr-title">{{ release.title }}</div>
					<div class="pr-extra">
						<div class="pr-headline">{{ release.headline }}</div>
					</div>
				</div>
			</div>
			</a>
		</div>  <!-- slide -->
		{% endfor %}
	</div> <!-- pr-carousel -->
</div> <!-- pr-carousel-wrapper -->

<div class="container" id="body">

{% if announcements %}
<div class="row announcements">
	<div class="col-md-12">
		<div id="ann-carousel-wrapper">
			<div class="section-header">
				<div class="section-title">
					<a href="{% url 'announcements_defaultquery' %}">{% trans 'Announcements' %}</a>
				</div>
				<div class="section-navigation">
				</div>
			</div>
			<div id="ann-carousel">
				{% for announcement in announcements %}
				<div class="slide">
					<a href="{{ announcement.get_absolute_url }}">
						<div class="ann-description">
							<div class="title">{{ announcement.title }}</div>
							<div class="date">{{ announcement.release_date|date:"j N Y" }} — {{ announcement.id }}</div>
						</div>
						<img draggable="false" data-lazy="{{ announcement.main_visual.resource_thumb350x.url }}" alt="{{ announcement.main_visual.title }}">
						<div class="readmore"></div>
					</a>
				</div> <!-- slide -->
				{% endfor %}
			</div> <!-- ann-carousel -->
		</div> <!-- ann-carousel-wrapper -->
	</div>
</div> <!-- announcements -->
{% endif %}

<div class="row frontpage-section">
	{% if hubblecasts %}
	<div class="col-md-6">
		<div id="hubblecast-carousel-wrapper">
			<div class="section-header">
				<div class="section-title">
					<a href="{% url 'videos_query_category' 'hubblecast' %}">{% trans "Hubblecast" %}</a>
				</div>
				<div class="section-navigation">
				</div>
			</div>
			<div id="hubblecast-carousel">
				{% embedvideo_subs hubblecasts.0 'medium_podcast,h264' 'hd_and_apple,hd720p_screen,dome_preview' '' hubblecasts.0.videosubtitle_set.all 0 %}
				<a href="{{ hubblecasts.0.get_absolute_url }}">
				<div class="hubblecast-description">
						<div class="date">{{ hubblecasts.0.release_date|datetime:"DATE" }} — {{ hubblecasts.0.id }}</div>
						<div class="title">{{ hubblecasts.0.title }}</div>
				</div>
				</a>
			</div> <!-- hubblecast-carousel -->
	</div>
	</div>
	{% endif %}
	{% if potws %}
	<div class="col-md-6">
		<div id="potw-carousel-wrapper">
			<div class="section-header">
				<div class="section-title">
					<a href="{% url 'potw_defaultquery' %}">{% trans "Picture of the Week" %}</a>
				</div>
				<div class="section-navigation">
				</div>
			</div>
			<div id="potw-carousel">
				{% for potw in potws %}
				<div class="slide">
					<a href="{{ potw.get_absolute_url }}">
						<img draggable="false" data-lazy="{{ potw.visual.resource_screen640.url }}" class="img-responsive" alt="{{ potw.visual.title }}">
						<div class="potw-description">
							<div class="date">{{ potw.release_date|datetime:"DATE" }} — {{ potw.id }}</div>
							<div class="title">{{ potw.visual.title }}</div>
						</div>
					</a>
				</div> <!-- slide -->
				{% endfor %}
			</div> <!-- potw-carousel -->
	</div>
	</div>
	{% endif %}
</div>

</div> <!-- #body -->

{% endblock content_area %}

{% block extra_scripts %}
<script type="text/javascript">

$(document).ready(function(){                                                   
	{% comment %}
	Set hover target on pr-description, this cannot be done fully in CSS         
		</div>
		<div id="ann-carousel-wrapper">
			<div id="ann-carousel">
				{% for announcement in announcements %}
				<div class="slide">
					<a href="{{ announcement.get_absolute_url }}">
						<div class="ann-description">
							<div class="title">{{ announcement.title }}</div>
							<div class="date">{{ announcement.release_date|date:"j N Y" }} — {{ announcement.id }}</div>
						</div>
						<img draggable="false" data-lazy="{{ announcement.main_visual.resource_thumb350x.url }}" alt="{{ announcement.main_visual.title }}">
					</a>
				</div> <!-- slide -->
				{% endfor %}
			</div> <!-- ann-carousel -->
		</div> <!-- ann-carousel-wrapper -->
	</div>
</div> <!-- announcements -->
{% endif %}

</div> <!-- #body -->

{% endblock content_area %}

{% block extra_scripts %}
<script type="text/javascript">

$(document).ready(function(){                                                   
	{% comment %}
	Set hover target on pr-description, this cannot be done fully in CSS         
	as the image is outside the pr-description and cannot be "attached"          
	by the standard hover                                                        
	{% endcomment %}
    $('.pr-description').hover(function() {
		$(this).parents('.pr-content').prev('img').toggleClass('hover');	
	});

	// Set the announcements titles to the same heights:
	var annTitleSelector = '#ann-carousel .ann-description .title';
	var maxAnnHeight = Math.max.apply(null, $(annTitleSelector).map(function ()
	{
		return $(this).height();
	}).get());
	$(annTitleSelector).height(maxAnnHeight);

	// Setup hubblecasts video
	{% if hubblecasts.0 %}
		setupVideoPlayer('{{ hubblecasts.0.id }}');
	{% endif %}
});                                                                             
            
</script>
{% endblock %}

{% block addthis %}
<!-- no addthis on frontpage -->
{% endblock %}
