<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="http://www.spacetelescope.org/rss/feed.xml" rel="alternate" type="application/rss+xml" title="Hubble Space Telescope News">

<title>{% block site_title %}spacetelescope.org{% endblock %}</title>
<link rel="SHORTCUT ICON" href="{{MEDIA_URL}}favicon.ico" />
<link rel="ICON" href="{{MEDIA_URL}}favicon.ico" />
<link href="{{MEDIA_URL}}css/reset.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{MEDIA_URL}}css/base_grid.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{MEDIA_URL}}css/screen.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{MEDIA_URL}}css/printstyle.css" rel="stylesheet" type="text/css" media="print" />
<meta name="ROBOTS" content="INDEX,FOLLOW" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Keywords" content="Hubble, Hubble Space Telescope, HST, JWST, James Webb Space Telescope, images, information centre, news, video, European Space Agency, ESA, ACS, WFPC2, WFPC, FOS, FOC, GHRS, NICMOS, STIS, FGS, goodies, wallpaper, calendar, posters">
{% block extra_header %}{% endblock %}
{% load menus %}{% init_menu 'Main Menu' as main_menu %}{%init_menu 'Top Right Menu' as top_right_menu %}{% init_menu 'Footer Menu' as footer_menu %}
</head>
<div id="header" class="container_16">

	<div class='grid_12 '>
		<a href="#todo" id='hubblelogo'></a>
	</div>
	<div class='trmenu'>
		{% spaceless %}{% render_menu top_right_menu horizontal %}{% endspaceless %}
	</div>
</div>
               
<div class='clear'></div> 

<div id="content" class="container_16">
	<div id='topcontent' class=''>
		<div id='mainmenu' class='grid_16 nomarg'>
		{% spaceless %}{% render_menu main_menu horizontal %}{% endspaceless %}
		</div>
		<div class='grid_12'>
			<div id='breadcrumb'>
{% block breadcrumb %}<a href="/">Home</a> {% breadcrumb main_menu footer_menu top_right_menu %}{% endblock %}
			</div>
		</div>
		<div id='googlesearch' class='grid_4'>
			<!-- Google CSE Search Box Begins  -->
						<form action="/search/" id="cse-search-box">
						  <input type="hidden" name="cx" value="016374242383990648147:_pzdc_64anc" />
						  <input type="hidden" name="cof" value="FORID:11" />
						  <input type="hidden" name="ie" value="UTF-8" />
						  <input type="text" id="searchbox" name="q" style="width:214px"/>
						</form>
						<!-- Google CSE Search Box Ends -->
			
		</div>