{% extends "base.html" %}
{% load i18n %}
{% load satchmo_util %}
{% load pages %}
{% load thumbnail %}
{% load djangoplicity_satchmo %}
{% load djangoplicity_utils %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}

{% block site_title %} {{ shop_name }}{% if block.super%} | {{ block.super }}{% endif %}{% endblock %}

{% block body %}

<div class="row no-page shop">
    <div class="col-md-12">
        {% if not DJANGOPLICITY.SHOP_LIVE %}<div class="alert alert-danger" role="alert">Shop in test mode</div>{% endif %}
        <h1>{{ shop_name }}</h1>

    </div>
</div>

<div class="row no-page shop">
    <div class="col-md-9">
        {% if categories %}
            <div class="archive-list clearfix archive-categories-list">
            {% for list in categories|split_list:"3" %}
                {% for category in list %}
                    {% if not category.parent %}
                    <div class="item">
                        <a href="{{ category.get_absolute_url }}" class="thumbnail">
                            <img src="/static/shop/categories/{{ category.slug }}.jpg" class="img-responsive" alt="{{ category.name }}">
                            <div class="caption">
                                <p>{{ category.name }}</p>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}

        {% if all_products_list %}
            <h2>{% trans "Featured Products" %}</h2>

            <div class="archive-list clearfix">
            {% for list in all_products_list|split_list:"3" %}
                {% for product in list %}{% archiveitem product as item %}
                    <div class="item">
                        <a href="{{ product.get_absolute_url }}" class="thumbnail">
                            <img src="{% if item.resource_thumb350x %}{{ item.resource_thumb350x.url }}{% else %}{{ item.resource_medium.url }}{% endif %}" class="img-responsive" alt="{{ item.title }}">
                            <div class="caption">
                                <p class="price">Price:&nbsp;{{ item.price|currency }}{% if item.free %}<img src="{{ MEDIA_URL }}/educators-small.png" alt="Educators" width="60" /> {% endif %}</p>
                                <p>{% if item %}{{ item.title }}{% else %}{{ product.name }}{% endif %}</p>
                            </div>
                        </a>
                    </div>
                {% endarchiveitem %}{% endfor %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-3 shop-right-column">
        {% embed_page djangoplicity.shop_right_column %}
    </div>
</div>
{% endblock %}
