{% extends "core.html" %}

{% load menus %}
{% load i18n %}


{% block children %}
{% comment %}
We don't display the children pages widget in the dark pages
{% endcomment %}
{% endblock %}

{% block content_area %}

<div id="dark">
    {% if request.NO_TRANSLATION %}
    <div class="notranslation-alert alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <strong>{% trans "Sorry!" %}</strong> {% trans "This page is not yet available in your preferred language, so
        we're displaying the original version instead." %}
    </div>
    {% endif %}

    <div class="container-fluid py-5 px-3" style="background-color: #101010">
        <div class="row no-page">
            
            <div class="col-md-7 ">
                <h1>{% if archive_title %}{% trans archive_title %}{% else %}{{ archive|capfirst }} {% trans "Archive"
                    %}{% endif %}{% if listview_feed_url %} <a href="{{ listview_feed_url }}"
                        class="listviewrsslink"><span class="fa fa-rss"></span></a>{% endif %}</h1>
            </div>
            <div class="col-11 col-md-4 ">
                {% block archive_search %}
                {% endblock %}
            </div>
            {% if web_categories %}
            <div class="row">
                <div class="form-text ms-1">
                    {% if archive == 'image' %}<a
                        class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block"
                        style="text-decoration: none;"
                        href="{% url 'images_defaultquery' %}{% if params_nosearch %}?{{ params_nosearch }}{% endif %}">{% trans "View All" %}</a>
                        {% endif %}
                    {% if archive == 'video' %}<a
                        class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block"
                        style="text-decoration: none;"
                        href="{% url 'videos_defaultquery' %}{% if params_nosearch %}?{{ params_nosearch }}{% endif %}">{% trans "View All" %}</a>
                        {% endif %}
                    {% for category in web_categories %}
                    <a class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block"
                        style="text-decoration: none;"
                        href="{{ category.get_absolute_url}}{% if params_nosearch %}?{{ params_nosearch }}{% endif %}"
                        {% if category.selected %} class="selected" {% endif %}>{% trans category.name %}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="text-end">
                <div title="{% trans 'Sort by:' %}">
                    <span class="me-3">Sort by:  </span>
                    <a  style="text-decoration: none;" 
                        href="{{ request.path }}?{{params_nosort}}"{% if not request.GET.sort %} 
                        class="me-3 border border-primary btn-primary p-1 mt-2 d-inline-block"
                        {% else %}
                        class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block"
                        {% endif %}>{% trans "Ranking" %}</a>
                    <a  style="text-decoration: none;" 
                        href="{{ request.path }}?{{params_nosort}}&sort=-release_date"{% if request.GET.sort == '-release_date' %} 
                        class="me-3 border border-primary btn-primary p-1 mt-2 d-inline-block"
                        {% else %}
                        class="me-3 border border-primary btn-outline-primary p-1 mt-2 d-inline-block"
                        {% endif %}>{% trans "Date" %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="dark-body">
        {% block body %}
        {% endblock %}
    </div>

</div> <!-- #dark -->
{% endblock %}
