{% extends "shop/base.html" %}
{% load i18n %}
{% load satchmo_currency %}
{% load satchmo_order %}

{% block content %}
<h1>{% trans "Checkout" %}</h1>
<h2>Step 3 of 3: Review order</h2>

{% block error_processing %}
{% if errors %}
    <h3>{% block errorheader %}{% trans "The following error was returned while trying to process your card.  Please correct and resubmit" %}{% endblock %}</h3>
    {{ errors }}
{% else %}
    <p>Please validate the following information, then submit press "Place order". Your credit card will be charged immediately after you 
    have placed the order.</p>
{% endif %}
{% endblock %}

{% block order_details %}
    {% order_details order default_view_tax %}
{% endblock %}

{% block payment_display %}
<div class="pr_box">
<h3>{% trans "Payment" %}</h3>
{% with order.credit_card.credit_type as credit_card_type %}
{% with order.credit_card.display_cc as credit_card_number %}
{% with order.balance|currency as order_total %}
{% blocktrans %}Your {{ credit_card_type }} card ending in {{ credit_card_number }} will be charged <strong>{{ order_total }}</strong>.{% endblocktrans %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}
</div>
{% block payment_form %}

<div align="center" class="pr_box"><form method="post" action=".">
<p>By clicking on the "Place order"-button I hereby confirm that I accept the <a href="/shop/terms_conditions/">Terms &amp; Conditions</a>.</p>
<input type="hidden" name="Process" value="True">
<input type="submit" value="{% trans "Place order" %}"/>
</form></div>
{% endblock %}

{% endblock content %}
