{% load i18n %}{% load djangoplicity_datetime %}
{% spaceless %}
{% if object.published  %}
    {% if is_staging %}
    <div class="alert alert-danger" role="alert">{% blocktrans with datetime=object.embargo_date|time4lang:LANGUAGE_CODE|datetime:"DATETIME" %}STAGING UNTIL {{datetime}}{% endblocktrans %}</div>
    {% elif is_embargo %}
    <div class="alert alert-danger" role="alert">{% blocktrans with datetime=object.release_date|time4lang:LANGUAGE_CODE|datetime:"DATETIME" %}EMBARGOED UNTIL {{datetime}}{% endblocktrans %}</div>
    {% endif %}
{% else %}
    <div class="alert alert-danger" role="alert">{% trans "PREVIEW ONLY - ITEM NOT PUBLISHED" %}</div>
{% endif %}
{% endspaceless %}
