/* glue: 0.13 hash: cf8611694d */
        .sprites-title,
.sprites-esa-logo,
.sprites-logo_esocast,
.sprites-youtube_42px_flat,
.sprites-vimeo_42px_flat,
.sprites-twitter_42px_flat,
.sprites-scribd_42px_flat,
.sprites-pinterest_42px_flat,
.sprites-livestream_42px_flat,
.sprites-linkedin_42px_flat,
.sprites-issu_42px_flat,
.sprites-instagram,
.sprites-googleplus_42px_flat,
.sprites-flickr_42px_flat,
.sprites-facebook_42px_flat,
.sprites-apple_42px_flat,
.sprites-magnet,
.sprites-icon_zoom,
.sprites-icon_zip,
.sprites-icon_slides,
.sprites-icon_shop,
.sprites-icon_ppt,
.sprites-icon_phot,
.sprites-icon_pdf,
.sprites-icon_movie,
.sprites-icon_magnet,
.sprites-icon_doc,
.sprites-icon_audio,
.sprites-icon_word,
.sprites-icon_wallpaper,
.sprites-icon_txt,
.sprites-icon_qt,
.sprites-icon_pal,
.sprites-icon_mpeg,
.sprites-icon_images,
.sprites-icon_flv,
.sprites-icon_film,
.sprites-rssicon {
            background-image: url('../sprites/sprites.png');
            background-repeat: no-repeat;
        }
        
        .sprites-title {
            background-position: 0 0;
            width: 423px;
            height: 42px;
        }
        
        .sprites-esa-logo {
            background-position: 0 -42px;
            width: 100px;
            height: 37px;
        }
        
        .sprites-logo_esocast {
            background-position: -100px -42px;
            width: 50px;
            height: 29px;
        }
        
        .sprites-youtube_42px_flat {
            background-position: 0 -79px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-vimeo_42px_flat {
            background-position: -44px -79px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-twitter_42px_flat {
            background-position: -88px -79px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-scribd_42px_flat {
            background-position: -132px -79px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-pinterest_42px_flat {
            background-position: -176px -79px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-livestream_42px_flat {
            background-position: -220px -79px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-linkedin_42px_flat {
            background-position: -264px -79px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-issu_42px_flat {
            background-position: -308px -79px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-instagram {
            background-position: -352px -79px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-googleplus_42px_flat {
            background-position: 0 -123px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-flickr_42px_flat {
            background-position: -44px -123px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-facebook_42px_flat {
            background-position: -88px -123px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-apple_42px_flat {
            background-position: -132px -123px;
            width: 44px;
            height: 44px;
        }
        
        .sprites-magnet {
            background-position: -150px -42px;
            width: 27px;
            height: 27px;
        }
        
        .sprites-icon_zoom {
            background-position: -177px -42px;
            width: 27px;
            height: 26px;
        }
        
        .sprites-icon_zip {
            background-position: -204px -42px;
            width: 27px;
            height: 26px;
        }
        
        .sprites-icon_slides {
            background-position: -231px -42px;
            width: 27px;
            height: 26px;
        }
        
        .sprites-icon_shop {
            background-position: -258px -42px;
            width: 27px;
            height: 26px;
        }
        
        .sprites-icon_ppt {
            background-position: -285px -42px;
            width: 27px;
            height: 26px;
        }
        
        .sprites-icon_phot {
            background-position: -312px -42px;
            width: 27px;
            height: 26px;
        }
        
        .sprites-icon_pdf {
            background-position: -339px -42px;
            width: 27px;
            height: 26px;
        }
        
        .sprites-icon_movie {
            background-position: -366px -42px;
            width: 27px;
            height: 26px;
        }
        
        .sprites-icon_magnet {
            background-position: -396px -79px;
            width: 27px;
            height: 27px;
        }
        
        .sprites-icon_doc {
            background-position: -393px -42px;
            width: 27px;
            height: 26px;
        }
        
        .sprites-icon_audio {
            background-position: -176px -123px;
            width: 27px;
            height: 26px;
        }
        
        .sprites-icon_word {
            background-position: -203px -123px;
            width: 22px;
            height: 22px;
        }
        
        .sprites-icon_wallpaper {
            background-position: -225px -123px;
            width: 22px;
            height: 22px;
        }
        
        .sprites-icon_txt {
            background-position: -247px -123px;
            width: 22px;
            height: 22px;
        }
        
        .sprites-icon_qt {
            background-position: -269px -123px;
            width: 22px;
            height: 22px;
        }
        
        .sprites-icon_pal {
            background-position: -291px -123px;
            width: 22px;
            height: 22px;
        }
        
        .sprites-icon_mpeg {
            background-position: -313px -123px;
            width: 22px;
            height: 22px;
        }
        
        .sprites-icon_images {
            background-position: -335px -123px;
            width: 22px;
            height: 22px;
        }
        
        .sprites-icon_flv {
            background-position: -357px -123px;
            width: 22px;
            height: 22px;
        }
        
        .sprites-icon_film {
            background-position: -379px -123px;
            width: 22px;
            height: 22px;
        }
        
        .sprites-rssicon {
            background-position: -401px -123px;
            width: 18px;
            height: 18px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprites-title,
    .sprites-esa-logo,
    .sprites-logo_esocast,
    .sprites-youtube_42px_flat,
    .sprites-vimeo_42px_flat,
    .sprites-twitter_42px_flat,
    .sprites-scribd_42px_flat,
    .sprites-pinterest_42px_flat,
    .sprites-livestream_42px_flat,
    .sprites-linkedin_42px_flat,
    .sprites-issu_42px_flat,
    .sprites-instagram,
    .sprites-googleplus_42px_flat,
    .sprites-flickr_42px_flat,
    .sprites-facebook_42px_flat,
    .sprites-apple_42px_flat,
    .sprites-magnet,
    .sprites-icon_zoom,
    .sprites-icon_zip,
    .sprites-icon_slides,
    .sprites-icon_shop,
    .sprites-icon_ppt,
    .sprites-icon_phot,
    .sprites-icon_pdf,
    .sprites-icon_movie,
    .sprites-icon_magnet,
    .sprites-icon_doc,
    .sprites-icon_audio,
    .sprites-icon_word,
    .sprites-icon_wallpaper,
    .sprites-icon_txt,
    .sprites-icon_qt,
    .sprites-icon_pal,
    .sprites-icon_mpeg,
    .sprites-icon_images,
    .sprites-icon_flv,
    .sprites-icon_film,
    .sprites-rssicon {
                background-image: url('../sprites/sprites.png');
                -webkit-background-size: 423px 167px;
                -moz-background-size: 423px 167px;
                background-size: 423px 167px;
            }
        }

.sprites-giphy_42px {
  background-image: url('../sprites/giphy_42px.png');
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}
