.slide-button,
#pr-carousel-wrapper #pr-carousel button,
.frontpage-section #potw-carousel-wrapper #potw-carousel button,
.frontpage-section #highlight-carousel-wrapper #highlight-carousel button,
.top100 #top100-frontpage-carousel-wrapper #top100-frontpage-carousel button,
#top100-carousel-wrapper #top100-carousel button {
    position: absolute;
    top: 0px;
    height: 100%;
    border: none;
    padding: 0;
    outline: 0;
    font-size: x-large;
    text-align: center;
    min-width: 50px;
    color: #fff;
}

.slide-prev,
#pr-carousel-wrapper #pr-carousel .slide-prev,
.frontpage-section #hubblecast-carousel-wrapper #hubblecast-carousel .slide-prev,
.frontpage-section #potw-carousel-wrapper #potw-carousel .slide-prev,
.frontpage-section #highlight-carousel-wrapper #highlight-carousel .slide-prev,
.top100 #top100-frontpage-carousel-wrapper #top100-frontpage-carousel .slide-prev,
#top100-carousel-wrapper #top100-carousel .slide-prev {
    left: 0px;
    background: none;
    font-size: 35px;
    /* opacity: 0.2; */
    /* filter: alpha(opacity=20); */
    /* @include transition(opacity 0.3s);  */
}

.slide-prev.slick-disabled,
#pr-carousel-wrapper #pr-carousel .slick-disabled.slide-prev,
.frontpage-section #hubblecast-carousel-wrapper #hubblecast-carousel .slick-disabled.slide-prev,
.frontpage-section #potw-carousel-wrapper #potw-carousel .slick-disabled.slide-prev,
.frontpage-section #highlight-carousel-wrapper #highlight-carousel .slick-disabled.slide-prev,
.top100 #top100-frontpage-carousel-wrapper #top100-frontpage-carousel .slick-disabled.slide-prev,
#top100-carousel-wrapper #top100-carousel .slick-disabled.slide-prev {
    visibility: hidden;
}

.slide-next,
#pr-carousel-wrapper #pr-carousel .slide-next,
.frontpage-section #hubblecast-carousel-wrapper #hubblecast-carousel .slide-next,
.frontpage-section #potw-carousel-wrapper #potw-carousel .slide-next,
.frontpage-section #highlight-carousel-wrapper #highlight-carousel .slide-next,
.top100 #top100-frontpage-carousel-wrapper #top100-frontpage-carousel .slide-next,
#top100-carousel-wrapper #top100-carousel .slide-next {
    right: 0px;
    background: none;
    font-size: 35px;
    /* opacity: 0.2; */
    /* filter: alpha(opacity=20); */
    /* @include transition(opacity 0.3s);  */
}

.slide-next.slick-disabled,
#pr-carousel-wrapper #pr-carousel .slick-disabled.slide-next,
.frontpage-section #hubblecast-carousel-wrapper #hubblecast-carousel .slick-disabled.slide-next,
.frontpage-section #potw-carousel-wrapper #potw-carousel .slick-disabled.slide-next,
.frontpage-section #highlight-carousel-wrapper #highlight-carousel .slick-disabled.slide-next,
.top100 #top100-frontpage-carousel-wrapper #top100-frontpage-carousel .slick-disabled.slide-next,
#top100-carousel-wrapper #top100-carousel .slick-disabled.slide-next {
    visibility: hidden;
}

.slide-prev-next-hover,
#pr-carousel-wrapper:hover .slide-prev,
#pr-carousel-wrapper:hover #pr-carousel .slide-prev,
#pr-carousel-wrapper:hover .frontpage-section #hubblecast-carousel-wrapper #hubblecast-carousel .slide-prev,
.frontpage-section #hubblecast-carousel-wrapper #hubblecast-carousel #pr-carousel-wrapper:hover .slide-prev,
#pr-carousel-wrapper:hover .frontpage-section #potw-carousel-wrapper #potw-carousel .slide-prev,
.frontpage-section #potw-carousel-wrapper #potw-carousel #pr-carousel-wrapper:hover .slide-prev,
#pr-carousel-wrapper:hover .frontpage-section #highlight-carousel-wrapper #highlight-carousel .slide-prev,
.frontpage-section #highlight-carousel-wrapper #highlight-carousel #pr-carousel-wrapper:hover .slide-prev,
#pr-carousel-wrapper:hover .top100 #top100-frontpage-carousel-wrapper #top100-frontpage-carousel .slide-prev,
.top100 #top100-frontpage-carousel-wrapper #top100-frontpage-carousel #pr-carousel-wrapper:hover .slide-prev,
#pr-carousel-wrapper:hover #top100-carousel-wrapper #top100-carousel .slide-prev,
#top100-carousel-wrapper #top100-carousel #pr-carousel-wrapper:hover .slide-prev,
#pr-carousel-wrapper:hover .slide-next,
#pr-carousel-wrapper:hover #pr-carousel .slide-next,
#pr-carousel-wrapper:hover .frontpage-section #hubblecast-carousel-wrapper #hubblecast-carousel .slide-next,
.frontpage-section #hubblecast-carousel-wrapper #hubblecast-carousel #pr-carousel-wrapper:hover .slide-next,
#pr-carousel-wrapper:hover .frontpage-section #potw-carousel-wrapper #potw-carousel .slide-next,
.frontpage-section #potw-carousel-wrapper #potw-carousel #pr-carousel-wrapper:hover .slide-next,
#pr-carousel-wrapper:hover .frontpage-section #highlight-carousel-wrapper #highlight-carousel .slide-next,
.frontpage-section #highlight-carousel-wrapper #highlight-carousel #pr-carousel-wrapper:hover .slide-next,
#pr-carousel-wrapper:hover .top100 #top100-frontpage-carousel-wrapper #top100-frontpage-carousel .slide-next,
.top100 #top100-frontpage-carousel-wrapper #top100-frontpage-carousel #pr-carousel-wrapper:hover .slide-next,
#pr-carousel-wrapper:hover #top100-carousel-wrapper #top100-carousel .slide-next,
#top100-carousel-wrapper #top100-carousel #pr-carousel-wrapper:hover .slide-next,
.frontpage-section #hubblecast-carousel-wrapper #hubblecast-carousel:hover .slide-prev,
.frontpage-section #hubblecast-carousel-wrapper #hubblecast-carousel:hover .slide-next,
.frontpage-section #potw-carousel-wrapper #potw-carousel:hover .slide-prev,
.frontpage-section #potw-carousel-wrapper #potw-carousel:hover .slide-next,
.frontpage-section #highlight-carousel-wrapper #highlight-carousel:hover .slide-prev,
.frontpage-section #highlight-carousel-wrapper #highlight-carousel:hover .slide-next,
.top100 #top100-frontpage-carousel-wrapper #top100-frontpage-carousel:hover .slide-prev,
.top100 #top100-frontpage-carousel-wrapper #top100-frontpage-carousel:hover .slide-next,
#top100-carousel-wrapper #top100-carousel:hover .slide-prev,
#top100-carousel-wrapper #top100-carousel:hover .slide-next {
    /* opacity: 1; */
    /* filter: alpha(opacity=100); */
    /* @include transition(opacity 0.3s);  */
}

#pr-carousel-wrapper {
    position: relative;
    background-color: #000;
}

#pr-carousel-wrapper #pr-carousel {
    color: #fff;
    font-weight: 600;
}

#pr-carousel-wrapper #pr-carousel.slick-initialized .slide {
    visibility: visible;
}

#pr-carousel-wrapper #pr-carousel .slide {
    visibility: hidden;
    position: relative;
}

@media (min-width: 1025px) {
    #pr-carousel-wrapper #pr-carousel .slide {
        height: 600px;
    }
}

#pr-carousel-wrapper #pr-carousel .slide>a {
    display: block;
    height: 100%;
}

#pr-carousel-wrapper #pr-carousel .slide img {
    position: relative;
    width: 100%;
    opacity: 1;
}

@media (min-width: 1025px) {
    #pr-carousel-wrapper #pr-carousel .slide img {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        -webkit-backface-visibility: hidden;
    }

    #pr-carousel-wrapper #pr-carousel .slide img.hover {
        opacity: 0.5 !important;
        filter: alpha(opacity=50) !important;
        -webkit-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
    }
}

#pr-carousel-wrapper #pr-carousel .slide a {
    color: #fff;
}

#pr-carousel-wrapper #pr-carousel .slide .pr-content {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding: 10px;
}

@media (min-width: 1025px) {
    #pr-carousel-wrapper #pr-carousel .slide .pr-content {
        width: 960px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
    }
}

#pr-carousel-wrapper #pr-carousel .slide .pr-content .pr-description {
    padding-bottom: 10px;
    font-size: 14px;
    text-shadow: 1px 1px 3px #000;
    padding-top: 50px;
}

#pr-carousel-wrapper #pr-carousel .slide .pr-content .pr-description:hover {
    text-shadow: none;
}

#pr-carousel-wrapper #pr-carousel .slide .pr-content .pr-description:hover .pr-extra {
    max-height: 200px;
    -webkit-transition: max-height 0.2s;
    -moz-transition: max-height 0.2s;
    transition: max-height 0.2s;
}

@media (min-width: 1025px) {
    #pr-carousel-wrapper #pr-carousel .slide .pr-content .pr-description {
        width: 960px;
        position: absolute;
        bottom: 0;
    }
}

#pr-carousel-wrapper #pr-carousel .slide .pr-content .pr-description .pr-extra {
    max-height: 0;
    -webkit-transition: max-height 0.2s;
    -moz-transition: max-height 0.2s;
    transition: max-height 0.2s;
    overflow: hidden;
}

#pr-carousel-wrapper #pr-carousel .slide .pr-content .pr-description .pr-extra .pr-headline {
    margin-bottom: 20px;
}

#pr-carousel-wrapper #pr-carousel .slide .pr-content .pr-description .pr-type {
    text-transform: uppercase;
    font-size: 14px;
}

#pr-carousel-wrapper #pr-carousel .slide .pr-content .pr-description .pr-title {
    font-size: 30px;
}

@media (max-width: 1025px) {
    #pr-carousel-wrapper #pr-carousel .slide .pr-content .pr-description .pr-title {
        line-height: 1.2;
    }
}

#pr-carousel-wrapper #pr-carousel .slide .pr-content .pr-description .pr-title a:hover {
    text-decoration: none;
    color: #3f9efa;
}